<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScribbleHack</title>
<link href="../../static/profile.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../static/js/jquery-ui-1.10.4.custom.min.css" />
<script src="../../static/js/jquery-1.10.2.js"></script>
<script src="../../static/js/jquery-ui-1.10.4.custom.min.js"></script>
 <script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
	<style>
	body{
		font: 75% "Trebuchet MS", sans-serif;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	</style>
</head>

<body id="profile">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>

</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">
<img src="../static/images/navbarsearchbox.jpg" />
</div><!-- navsearchbox ends -->

<a href="profile.html">Username</a>
<!-- Insert Gear Settings icon --> 

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->

<div id="banner">

<div id="profbannerleft">
<p id="profbigusername">Bearsona</p>
<p id="proffirstlastname">Firstname Lastname</p>
<p id="profselftitle"><em>Fantasy Writer</em></p>
<p id="profonlinestatus">Last online Feb 2012</p>
</div><!-- profbannerleft ends -->

<div id="profbannerright">
<div id="profstatistics">
<ul>
<div class="profstat"><li><span>67,000</span></br>WORDS</li></div>
<div class="profstat"><li><span>5,000</span></br>PAGEVIEWS</li></div>
<div class="profstat"><li><span>420</span></br>COMMENTS</li></div>
<div class="profstat"><li><span>67</span></br>WORKS</li></div>
</ul>
</div><!-- profstatistics ends -->
</div><!-- profbannerright ends -->

</div><!-- banner ends -->

</div><!-- header ends -->

<div id="content" class="clearfix">

<div id="contentleft" class="clearfix">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Status</a></li>
		<li><a href="#tabs-2">About Me</a></li>
		<li><a href="#tabs-3">Groups</a></li>
		<li><a href="#tabs-3">Portfolio</a></li>
	</ul>
	<div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
	<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
</div>

</div><!-- contentleft ends -->

<div id="contentright" class="clearfix">
<div id="badgeribbon" class="proftopright">
<p class="badgetext">MOST RECENT BADGES</p>
<p class="badgetext">ALL BADGES</p>
</div>
<h1>FAVORITES</h1>


<div id="interests" class="proftopright">

<h2>BOOKS</h2>
<p>The Brothers Karamavov, The Lord of the Rings, Crime and Punishment</p>
<h2>AUTHORS</h2>
<p>J.R.R. Tolkien, Fyodor Dostoevsky, Paulo Coelho</p>
<h2>ARTWORKS</h2>
<p>Starry Night</p>
<h2>ARTISTS</h2>
<p>Jones De Ro, Jennifer Healy, Pierre Auguste Cot, Auguste Renoir</p>
<h2>TV/MOVIES</h2>
<p>The Lord of the Rings, Pan's Labyrinth, Big Fish</p>
<h2>MUSIC</h2>
<p>Songs from animated Disney classics, Kutless, Josh Groban</p>
<h2>VIDEO GAMES</h2>
<p>The Legend of Zelda, Fire Emblem, Metroid, Harvest Moon</p>

</div>

</div><!-- contentright ends -->

</div><!-- content ends -->

<div id="footer">

</div><!-- footer ends -->


</div><!-- wrapper ends -->


</body>
</html>
