<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScribbleHack</title>
<link href="../../static/profile.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../static/js/jquery-ui-1.10.4.custom.min.css" />
<script src="../../static/js/jquery-1.10.2.js"></script>
<script src="../../static/js/jquery-ui-1.10.4.custom.min.js"></script>
 <script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
	<style>
	body{
		font: 75% "Trebuchet MS", sans-serif;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	</style>
</head>

<body id="profile">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>

</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">
<img src="../../static/images/navbarsearchbox.jpg" />
</div><!-- navsearchbox ends -->

<a href="profile.html">Username</a>
<!-- Insert Gear Settings icon --> 

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->

<div id="banner">

<img id="profilepic" src="../../static/images/luceroprofilepic.jpg"/>

<div id="profbannerleft">
<p id="profbigusername">Laurelin</p>
<p id="proffirstlastname">Lucero Calleo</p>
<p id="profselftitle"><em>Fantasy Writer</em></p>
<p id="profonlinestatus">Last online Feb 2012</p>
</div><!-- profbannerleft ends -->

<div id="profbannerright">
<div id="profstatistics">
<ul>
<div class="profstat"><li><span>5,000</span></br>PAGEVIEWS</li></div>
<div class="profstat"><li><span>420</span></br>COMMENTS</li></div>
<div class="profstat"><li><span>67</span></br>WORKS</li></div>
</ul>
</div><!-- profstatistics ends -->
</div><!-- profbannerright ends -->

</div><!-- banner ends -->

</div><!-- header ends -->





<div id="content" class="clearfix">

<div id="contentleft" class="clearfix">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Status</a></li>
		<li><a href="#tabs-2">About Me</a></li>
		<li><a href="#tabs-3">Groups</a></li>
		<li><a href="#tabs-4">Request a Critique</a></li>
		<li><a href="#tabs-5">Stats and Activity</a></li>
	</ul>
	<div id="tabs-1">
		<div class="tabsbox">
			<h1>Yo peeps what's up?</h2>
			<p id="statustag">by Laurelin, posted 3 hours ago</p>
			<p>Well, this is my first post on ScribbleHack.com and I have to say, IT FEELS GREAT! The website is going to be finished SOONER THAN YOU KNOW IT, PEOPLE!!! WOOOO!!!! I'd like to give a special thanks to the Captain and First Mate, JC and Rodrigo and of course our loyal crew. Anyway, so the status for today: I'm working on the profile page while Kae is finishing up the home page and working on the blank page. Not sure what JC and Rodrigo are doing because I don't understand what they do. XD But I see them doing stuff on GitHub that looks legit so we're good. XD Well, that's all for today, folks.</p>
			<p class="statusboxstats">2 Likes</p>
			<p class="statusboxstats">0 Comments</p>
		</div>
	<div id="tabs1buttons">
		<a href="link" class="button action like fancy-link login-required" rel="nofollow"><img class="icon" src="../../static/images/checkmark.png"/>Like</a>
		<a href="link" class="button action like fancy-link login-required" rel="nofollow"><img class="icon" src="../../static/images/speechbubble.png"/>Comment</a>
	</div>
	</div>
	
	<div id="tabs-2">
		<div class="tabsbox">
			<h1>ABOUT ME</h1>
			<p>Birthday: June 28</p>
			<p>Female</p>
			<p>Hi! My name is Lucero and I like warm hugs!</p>
		</div>
	</div>
	
	<div id="tabs-3">
		<div class="tabsbox">
			<h1>GROUPS</h1>
		</div>
	</div>
	
	<div id="tabs-4">
		<div class="tabsbox">
			<h1>REQUEST A CRITIQUE WITH LAURELIN</h1>
		</div>
	</div>
	
	<div id="tabs-5">
		<div class="tabsbox">
			<h1>STATS & ACTIVITY</h1>
			<table>
			<tr>
			<td>
			<p>Joined 6/28/2014</p>
			<p>Last online: 8/5/2014</p>
			<p>Last submission: 7/26/2014</p>
			<p>Number of submissions: 32</p>
			<p>Submissions per week: 0.5</p>
			<p>Number of forum posts: 36</p>
			<p>Forum posts per week: 2</p>
			</td>
			<td>
			<p>Number of critiques given: 7</p>
			<p>Critique Rating:</p>
			<p>Number of donations to the Universe: 12</p>
			<p>Number of badges:22</p>
			</td>
			</tr>
			</table>
		</div>
	</div>
</div>





<div id="featuredworks">

<h1>Portfolio</h1>

<figure>
<a href="link"><img src="../../static/images/lucero-art-example.jpg" width="175" height="175"></a>
<figcaption><a href="link">Sad Knight</a></figcaption>
</figure>

<figure>
<a href="link"><img src="../../static/images/lucero-writing-example.jpg" width="130 height="175"></a>
<figcaption><a href="link">Cherry Blossom Petals</a></figcaption>
</figure>

<figure>
<a href="link"><img src="../../static/images/lucero-writing-example.jpg" width="130 height="175"></a>
<figcaption><a href="link">Cherry Blossom Petals</a></figcaption>
</figure>

<br><br>
<a id="view_p" href="">View Laurelin's Portfolio</a>

</div><!-- featuredworks ends -->





<div id="profcomments">

<h1>Comments</h1>




<div class="bubble clearfix">
			<div id="leavecomment">
			<img id="rcommentimg" src="#" width: "50" height: "50"/>
				<div class="point"></div>
				<form action="php link" method="get">
					<textarea name="commentbox" placeholder="Leave a comment!"></textarea>
				</form>
			</div>
		</div>


<a href="link" id="lcomment" class="button action leave-a-comment fancy-link login-required" rel="nofollow">Leave a Comment</a>

	<div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>Hey Lucero! I think your profile is pretty awesome.</p>
			</div>
		</div>
	</div>
	
		<div class="replycomment">
			<img src="#" width: "50" height: "50"/>
			<div class="replycomment-content">
				<div class="point"></div>
				<p>Why thank you. Yours is pretty awesome too.</p>
			</div>
		</div>
	
	<div class="commentboxes">
		<img src="#" width: "50" height: "50"/>
		<div class="comment-content">
			<div class="point"></div>
			<p>Hey Lucero! I think your profile is pretty awesome.</p>
		</div>
	</div>
	
	<div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>Hey Lucero! I think your profile is pretty awesome.</p>
			</div>
		</div>
	</div>

<div id="searchcomments">
	<a class="searchcomments" href="link"> Previous</a>
	<a class="searchcomments" href="link"> 1</a>
	<a class="searchcomments" href="link"> 2</a>
	<a class="searchcomments" href="link"> 3</a>
	<a class="searchcomments" href="link"> 4</a>
	<a class="searchcomments" href="link"> 5</a>
	<a class="searchcomments" href="link"> Next</a>
</div>

</div><!-- profcomments ends -->

</div><!-- contentleft ends -->





<div id="contentright" class="clearfix">

<div id="badgeribbon" class="proftopright">
	<p class="badgetext">MOST RECENT BADGES</p>
		<img src="../../static/images/badge1.png"/>
		<img src="../../static/images/badge2.png"/>
	<p class="badgetext"> <a href="link"> ALL BADGES</a></p>
</div>




<div id="interests" class="proftopright">

<h1>FAVORITES</h1>

<h2>BOOKS</h2>
<p>The Brothers Karamazov, The Lord of the Rings, Crime and Punishment</p>
<h2>AUTHORS</h2>
<p>J.R.R. Tolkien, Fyodor Dostoevsky, Paulo Coelho</p>
<h2>ARTWORKS</h2>
<p>Starry Night</p>
<h2>ARTISTS</h2>
<p>Jones De Ro, Jennifer Healy, Pierre Auguste Cot, Auguste Renoir</p>
<h2>TV/MOVIES</h2>
<p>The Lord of the Rings, Pan's Labyrinth, Big Fish</p>
<h2>MUSIC</h2>
<p>Songs from animated Disney classics, Kutless, Josh Groban</p>
<h2>VIDEO GAMES</h2>
<p>The Legend of Zelda, Fire Emblem, Metroid, Harvest Moon</p>

</div>





<div id="profbottomright">

	<h1>Friends and Followers</h1>

	<h1>Collaborators</h1>

</div><!-- profbottomright ends -->

</div><!-- contentright ends -->

</div><!-- content ends -->



<footer>

</footer><!-- footer ends -->


</div><!-- wrapper ends -->


</body>
</html>
