{% extends 'base.html' %}
{% load static %}

{% block sylesheet %}
{% static 'editprofile.css' %}
{% endblock %}

{% block head_extra %}
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
{% endblock %}

{% block contentleft %}
{% if form.errors %}
<p>Invalid input. Please try again.</p>
{% endif %}

<form action="{% url 'accounts:edit' %}" method="post">
{% csrf_token %}
<p>
	Age: <input name='age' type="text" /><br/>
	Favorite Book: <input name='favorite_book' type="text" /><br/>
	Favorite Hero: <input name='favorite_hero' type="text" /><br/>
</p>
<input type="submit" value="Submit" />
</form>

<a href="{% url 'accounts:logout' %}">Logout</a>
</body>
</html>