{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScribbleHack</title>
<link rel="stylesheet" href="../../static/layoutcss.css">
</head>

<body id="login">

<div id="loginblock">

<div id="logobig" >
<a href="{% url "index" %}"><img src="../../static/images/logobig.png" /></a>
</div><!-- logobg ends -->

<h1>Sign in</h1>

<div id="logbox" class="clearfix">
<img src="../../static/images/logbox.png" />

<form action="." method="POST">
    {% csrf_token %}

    <div id="username">
    <label for="username" class="inputlabels">Username</label><br />
    {{ form.username|add_class:"loginput" }}
    </div><!-- username ends -->

    <div id="password">
    <label for="password" class="inputlabels">Password<span> <a href="#">Forgot?</a></span></label><br />
    {{ form.password|add_class:"loginput" }}
    </div><!-- password ends -->

    <input type="submit" value="login" id="logbutton" class="input">
    <input type="hidden" name="next" value="{{ next }}" />
</form>

</div><!-- logbox ends -->

<h2>Don't have an account? <a href="{% url "accounts:register" %}">Register today!</a></h2>

</div><!-- logblock ends -->

</body>
</html>
