<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ScribbleHack</title>
	<link href="../../static/displaywriting.css" rel="stylesheet" type="text/css" />
    <link href="../../static/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    
    <script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/jquery-ui.min.js"></script>
    
    <script src="../../static/js/perfect-scrollbar.min.js"></script>
	<script src="../../static/js/perfect-scrollbar.with-mousewheel.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function ($) {
        $('#writingframe').perfectScrollbar({
          wheelSpeed: 20,
          wheelPropagation: false,
          suppressScrollX: true
        });
      });
    </script>

</head>

<body id="dispwrite">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>
</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">

<form id="tfnewsearch" method="get" action="#">
		       <input type="submit" class="tfbutton" src="../../static/images/searchicon.png" img />
		       <input type="text" placeholder=" Search for stories, art or users" class="tftextinput" name="q" size="25" maxlength="120" onfocus="inputFocus(this)" onblur="inputBlur(this)">
		</form>


</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div class="left_column">

	<div id="writingframe">
    <div class="writingcontent">
	<h1>My Knight</h1>
  	<p>
  		They flock to the knight on the horse</br>
		whose armor shines so bright,</br>
		white like the sun on the water, </br>
		an everglowing light</br>
  	</p>
  	<p>
  		They smile as he rides through town, </br>
		another battle won. </br>
		He stands tall, noble and just, </br>
		as their eyes twinkle in the sun.</br>
  	</p>
  	<p>
		But my knight has just returned, </br>
		his armor falling from his shoulders. </br>
		Compared to the knight in the shining armor, </br>
		he's a failure as a soldier.</br>
  	</p>
  	<p>
		Blood leaks through his teeth,</br>
		his eye is red and swollen, </br>
		mud stains the once white armor,</br>
		its straps are worn and broken.</br>
  	</p>
  	<p>
		They judge him for his weakness,</br>
		they can't see past the scars. </br>
		But every night, he goes to sleep,</br>
		his eyes turned towards the stars.</br>
  	</p>
	</div>
	
	</div>

<div class="comment_section">
<h1>Comments (#)</h1>
    
<div class="bubble clearfix">
			<div id="leavecomment">
			<img class="user_avatar" id="rcommentimg" src="../../static/images/avatar1.png" width: "50" height: "50"/>
                <div>
                <form action="php link" method="get">
					<textarea name="commentbox" placeholder="Leave a comment!"></textarea>
				</form>
                </div>
			</div>
		</div>

<a href="link" id="lcomment" class="button action leave-a-comment fancy-link login-required" rel="nofollow">Leave a Comment</a>

	<div class="commentboxes">
		<div class="bubble clearfix">
			<img class="user_avatar" src="../../static/images/avatar3.gif" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>Beautiful poem! I loved the imagery, knights are soooo awesome! :D</p>
			</div>
		</div>
	</div>
	
		<div class="replycomment">
			<img class="user_avatar" src="../../static/images/luceroprofilepic.jpg" width: "50" height: "50"/>
			<div class="replycomment-content">
				<div class="point"></div>
				<p>Thank you! Knights are indeed pretty awesome :) </p>
			</div>
		</div>
	
	<div class="commentboxes">
		<img class="user_avatar" src="../../static/images/avatar4.gif" width: "50" height: "50"/>
		<div class="comment-content">
			<div class="point"></div>
			<p>Beautiful poem! I loved the imagery, knights are soooo awesome! :D</p>
		</div>
	</div>
	
	<div class="commentboxes">
		<div class="bubble clearfix">
			<img class="user_avatar" src="../../static/images/avatar5.gif" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>Beautiful poem! I loved the imagery, knights are soooo awesome! :D</p>
			</div>
		</div>
	</div>

<div id="searchcomments">
	<a class="searchcomments" href="link"> Previous</a>
	<a class="searchcomments" href="link"> 1</a>
	<a class="searchcomments" href="link"> 2</a>
	<a class="searchcomments" href="link"> 3</a>
	<a class="searchcomments" href="link"> 4</a>
	<a class="searchcomments" href="link"> 5</a>
	<a class="searchcomments" href="link"> Next</a>
</div>

</div><!--comment_section ends here-->

</div>

<div class="right_column">

	<div class="art_info">
		<div class="box_title">
			<img class="user_avatar" src="../../static/images/luceroprofilepic.jpg" width="70px" height="70px">
			<h1>My Knight</h1>
				<h2>by <a href="../profile/profile.html">Laurelin</a> </br> Posted # days ago</h2>
        </div>
			<div class="art_description">
                			<img src="../../static/images/coverpoetry.jpg">

				<p>Here will be some info about the work being displayed. There should also be a text limit here as well.
				</p>
			</br>
				<p id="tags">#writing #poem #tagsgohere #morerandomtags</p>
			</div><!--description ends here-->


	</div>

	<div class="like_box">
		
		 <form id="like_button">
		 		<input type="image" src="../static/images/like_button.png"> 
		 </form>
		</br>
		 <center><p id="numberoflikes"> 34 likes (12 today) </p></center>

		<ol>
		<li>Date Submitted: <font color="#007777">1/9/14 </font> </li>
	</br>
		<li>Genre: <font color="#007777">Action </font></li>
		</ol>

	</div>

	<div class="more_box">

		<div class="box_title">

			<h1>More from User</h1>
		</div>

		<!--thumbnails for images go in item div-->
		<div id="item">
			<h3>
				<a href="#">Book title here</a>
			</h3>
			<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
		</div>
		<div id="separator"></div><!--seperator line-->
		<div id="item">
			<h3>
				<a href="#">Book title here</a>
			</h3>
			<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
		</div>
		<div id="separator"></div><!--seperator line-->
		<div id="item">
			<h3>
				<a href="#">Book title here</a>
			</h3>
			<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
		</div>


	</div>

	<div class="similar_box">

		<div class="box_title">

			<h1>Similar Works</h1>
		</div>

		<!--thumbnails for images go in item div-->
		<div id="item">
			<h3>
				<a href="#">Book title here</a>
			</br>
				by Author
			</h3>
			<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
		</div>
		<div id="separator"></div><!--seperator line-->
		<div id="item">
			<h3>
				<a href="#">Book title here</a>
			</br>
				by Author
			</h3>
			<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
		</div>
		<div id="separator"></div><!--seperator line-->
		<div id="item">
			<h3>
				<a href="#">Book title here</a>
			</br>
				by Author
			</h3>
			<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
		</div>

</div>
</div>
</div><!-- content ends -->

<div id="footer">

<div class="footerlist">
		<p><a id="about" href="">About</a></p>
		<p><a id="faq" href="">FAQ</a></p>
		<p><a id="crew" href="">The Crew</a></p>
	</div>
	<div class="footerlist">
		<p><a id="tos" href="">Terms of Service</a></p>
		<p><a id="ppolicy" href="">Privacy Policy</a></p>
	</div>
	<div class="footerlist">
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/homepage/homepage.html">Home Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/profile.html">Profile Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/editprofile.html">Edit Profile Page</a></p>
	</div>

</div><!-- footer ends -->


</div><!-- wrapper ends -->


</body>
</html>
