{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheets %}
	<link href="../../static/displaywriting.css" rel="stylesheet" type="text/css" />
	<link href="../../static/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block head_extra %}
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/jquery-ui.min.js"></script>
    
    <script src="../../static/js/perfect-scrollbar.min.js"></script>
	<script src="../../static/js/perfect-scrollbar.with-mousewheel.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function ($) {
        $('#writingframe').perfectScrollbar({
          wheelSpeed: 20,
          wheelPropagation: false,
          suppressScrollX: true
        });
      });
    </script>
{% endblock head_extra %}

{% block content %}
	<div class="left_column">

		<div id="writingframe">
	    <div class="writingcontent">
		<h1>{{ object.title }}</h1>
	  	<p>
	  	{{ object.content }}
	  	</p>
		</div>
		
		</div>

	<div class="comment_section">
	<h1>Comments (#)</h1>
	    
	<div class="bubble clearfix">
				<div id="leavecomment">
				<img class="user_avatar" id="rcommentimg" src="../../static/images/avatar1.png" width: "50" height: "50"/>
	                <div>
	                <form action="php link" method="get">
						<textarea name="commentbox" placeholder="Leave a comment!"></textarea>
					</form>
	                </div>
				</div>
			</div>

	<a href="link" id="lcomment" class="button action leave-a-comment fancy-link login-required" rel="nofollow">Leave a Comment</a>

		<div class="commentboxes">
			<div class="bubble clearfix">
				<img class="user_avatar" src="../../static/images/avatar3.gif" width: "50" height: "50"/>
				<div class="comment-content">
					<div class="point"></div>
					<p>Beautiful poem! I loved the imagery, knights are soooo awesome! :D</p>
				</div>
			</div>
		</div>
		
			<div class="replycomment">
				<img class="user_avatar" src="../../static/images/luceroprofilepic.jpg" width: "50" height: "50"/>
				<div class="replycomment-content">
					<div class="point"></div>
					<p>Thank you! Knights are indeed pretty awesome :) </p>
				</div>
			</div>
		
		<div class="commentboxes">
			<img class="user_avatar" src="../../static/images/avatar4.gif" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>Beautiful poem! I loved the imagery, knights are soooo awesome! :D</p>
			</div>
		</div>
		
		<div class="commentboxes">
			<div class="bubble clearfix">
				<img class="user_avatar" src="../../static/images/avatar5.gif" width: "50" height: "50"/>
				<div class="comment-content">
					<div class="point"></div>
					<p>Beautiful poem! I loved the imagery, knights are soooo awesome! :D</p>
				</div>
			</div>
		</div>

	<div id="searchcomments">
		<a class="searchcomments" href="link"> Previous</a>
		<a class="searchcomments" href="link"> 1</a>
		<a class="searchcomments" href="link"> 2</a>
		<a class="searchcomments" href="link"> 3</a>
		<a class="searchcomments" href="link"> 4</a>
		<a class="searchcomments" href="link"> 5</a>
		<a class="searchcomments" href="link"> Next</a>
	</div>

	</div><!--comment_section ends here-->

	</div>

	<div class="right_column">

		<div class="art_info">
			<div class="box_title">
				<img class="user_avatar" src="../../static/images/luceroprofilepic.jpg" width="70px" height="70px">
				<h1>{{ object.title }}</h1>
					<h2>by <a href="{% url 'accounts:profile' pk=object.author.pk %}">{{ object.author.username }}</a> </br> Posted {{ object.creation_date|naturalday }}</h2>
	        </div>
				<div class="art_description">
	                			<img src="../../static/images/coverpoetry.jpg">

					<p>Here will be some info about the work being displayed. There should also be a text limit here as well.
					</p>
				</br>
					<p id="tags">#writing #poem #tagsgohere #morerandomtags</p>
				</div><!--description ends here-->


		</div>

		<div class="like_box">
			
			 <form id="like_button">
			 		<input type="image" src="../static/images/like_button.png"> 
			 </form>
			</br>
			 <center><p id="numberoflikes"> 34 likes (12 today) </p></center>

			<ol>
			<li>Date Submitted: <font color="#007777">{{ object.creation_date }} </font> </li>
		</br>
			<li>Genre: <font color="#007777">Action </font></li>
			</ol>

		</div>

		<div class="more_box">

			<div class="box_title">

				<h1>More from User</h1>
			</div>

			<!--thumbnails for images go in item div-->
			<div id="item">
				<h3>
					<a href="#">Book title here</a>
				</h3>
				<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
			</div>
			<div id="separator"></div><!--seperator line-->
			<div id="item">
				<h3>
					<a href="#">Book title here</a>
				</h3>
				<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
			</div>
			<div id="separator"></div><!--seperator line-->
			<div id="item">
				<h3>
					<a href="#">Book title here</a>
				</h3>
				<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
			</div>


		</div>

		<div class="similar_box">

			<div class="box_title">

				<h1>Similar Works</h1>
			</div>

			<!--thumbnails for images go in item div-->
			<div id="item">
				<h3>
					<a href="#">Book title here</a>
				</br>
					by Author
				</h3>
				<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
			</div>
			<div id="separator"></div><!--seperator line-->
			<div id="item">
				<h3>
					<a href="#">Book title here</a>
				</br>
					by Author
				</h3>
				<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
			</div>
			<div id="separator"></div><!--seperator line-->
			<div id="item">
				<h3>
					<a href="#">Book title here</a>
				</br>
					by Author
				</h3>
				<p>Short description of work that trails off after a while. Maybe a bout two or three lines of text.</p>
			</div>

	</div>
	</div>
{% endblock content %}