<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScribbleHack</title>
<link href="../../static/submit.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../static/js/jquery-ui-1.10.4.custom.min.css" />
<script src="../../static/js/jquery-1.10.2.js"></script>
<script src="../../static/js/jquery-ui-1.10.4.custom.min.js"></script>
 <script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
	<style>
	body{
		font: 75% "Trebuchet MS", sans-serif;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	</style>
</head>

<body id="profile">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>

</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">

<form id="tfnewsearch" method="get" action="#">
		       <input type="submit" class="tfbutton" src="../../static/images/searchicon.png" img />
		       <input type="text" value=" Search for stories, art or users" class="tftextinput" name="q" size="25" maxlength="120" onfocus="inputFocus(this)" onblur="inputBlur(this)">
		</form>


</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

<a href="profile.html">Username</a>
<!-- Insert Gear Settings icon --> 

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->





<div id="banner">

</div><!-- banner ends -->

</div><!-- header ends -->



<div id="content" class="clearfix">

	<div id="contentleft" class="clearfix">
	
	
	<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Writing</a></li>
		<li><a href="#tabs-2">Art</a></li>
	</ul>
	
	<div id="tabs-1">
	<div class="tabsbox">
	<div id="browse_file"><h2><span>Browse File</span></h2></div>
		<form action="figure this out" enctype="multipart/form-data" method="post">
					<input type="file" name="browsefile" size="40"><br>
		</form>
	<div id="form">
			<form>
				<h2>Title: <input type="text" name="title" style="width:300px; height:20px;"></h2>
				
				
				<h2>Description:</h2>
				<textarea name="desc" rows="5" style="width: 400px"></textarea>

				<h2 id="type">Type:
				<select name="type" style="width: 150px; height: 30px; font-size: 16px;">
					<option>Type</option>
					<option>Novel</option>
					<option>Short Story</option>
					<option>Poem</option>
					<option>Script</option>
					<option>Graphic Novel</option>
					<option>Nonfiction</option>
				</select>
				</h2>
	
				<h2>Genre:
				<select name="genre" style="width: 150px; height: 30px; font-size: 16px;">
				   <option>Genre</option>
				   <option>General</option>
				   <option>Action/Adventure</option>
				   <option>Fantasy</option>
				   <option>Sci-Fi</option>
				   <option>Historical Fiction</option>
				   <option>Slice of Life</option>
				   <option>Paranormal</option>
				   <option>Romance</option>
				   <option>Comedy</option>
				   <option>Mystery</option>
				   <option>Thriller</option>
				</select>
				</h2>
				
				<h2>Tags:
				<input type="text" name="tags" style="width:300px; height:20px;">
				</h2>
				
				<h2>Visibility:
				<select name="visibility" style="width: 200px; height: 30px; font-size: 16px;">
					<option value="a">Public</option>
					<option value="b">Private</option>
					<option value="c">Friends only</option>
				</select>
				</h2>
				
				<h2>Critique Options:
				<select name="critique_options" style="width: 300px; height: 30px; font-size: 16px;">
					<option value="a">Allow this work to be critiqued</option>
					<option value="b">I don't want critiques on this work</option>
				</select>
				</h2>
			</form>
			
		</div><!-- form ends -->
		
		<img class="barrels" src="../../static/images/barrels.png" height="250px" width="250px"/>
		
		</div><!-- tabsbox ends -->
		</div><!-- tabs-1 ends -->
		
		
		
		
			
	<div id="tabs-2">
	<div class="tabsbox">
	<div id="browse_file"><h2><span>Browse File</span></h2></div>
		<form action="figure this out" enctype="multipart/form-data" method="post">
					<input type="file" name="browsefile" size="40"><br>
		</form>
	<div id="form">
			<form>
				<h2>Title: <input type="text" name="title" style="width:300px; height:20px;"></h2>
				
				
				<h2>Description:</h2>
				<textarea name="desc" rows="5" style="width: 400px"></textarea>

				<h2 id="type">Type 1:
				<select name="type" style="width: 150px; height: 30px; font-size: 16px;">
					<option>Fine Art</option>
					<option>Design</option>
					<option>Sculpture</option>
					<option>Photography</option>
					<option>Architecture</option>
					<option>Fashion</option>
                    <option>Digital</option>
                    <option>Textiles</option>
                    <option>Crafts</option>
					<option>Miscellaneous</option>
				</select>
				</h2>
	
				<h2>Type 2:
				<select name="type2" style="width: 150px; height: 30px; font-size: 16px;">
					<option>Drawing</option>
					<option>Painting</option>
					<option>Printmaking</option>
					<option>Collage</option>
					<option>Mixed Media</option>
					<option>Design/Graphics</option>
					<option>Installation</option>
					<option>Ceramics</option>
					<option>Glass</option>
					<option>Graphic Design</option>
                    <option>Industrial Design</option>
                    <option>Architecture - Interior</option>
					<option>Architecture - Landscape</option>
					<option>Fashion Illustrations</option>
					<option>Apparel</option>
					<option>Knitting, Crochet, Sewing</option>
				</select>
				</h2>
				<br>
				
				<h2>Type 3:
				<select name="type" style="width: 150px; height: 30px; font-size: 16px;">
					<option>Abstract</option>
                    <option>Surreal</option>
					<option>Landscapes/Scenery</option>
					<option>Still Life </option>
					<option>Portraits/People</option>
                    <option>Fantasy/Sci-Fi</option>
                    <option>Horror</option>
                    <option>Conceptual</option>
					<option>Fanart</option>
					<option>Comics</option>
					<option>Miscellaneous</option>
				</select>

				</h2>
				
				<h2>Tags:
				<input type="text" name="tags" style="width:300px; height:20px;">
				</h2>
				
				<h2>Visibility:
				<select name="visibility" style="width: 200px; height: 30px; font-size: 16px;">
					<option value="a">Public</option>
					<option value="b">Private</option>
					<option value="c">Friends only</option>
				</select>
				</h2>
				
				<h2>Critique Options:
				<select name="critique_options" style="width: 300px; height: 30px; font-size: 16px;">
					<option value="a">Allow this work to be critiqued</option>
					<option value="b">I don't want critiques on this work</option>
				</select>
				</h2>
			</form>
			
		</div><!-- form ends -->
		
		<img class="barrels" src="../../static/images/barrels.png" height="250px" width="250px"/>
		
		</div><!-- tabsbox ends -->
		</div><!-- tabs-2 ends -->
		</div><!-- tabs ends -->

	</div><!-- contentleft ends -->

<div id="contentright" class="clearfix">
	<div class="tabsbox">
	<h2>Preview</h2>
	<div id="preview_image"><div id="image"><span id="preview_image">Preview Image</span></div></div>
	<div id="mature_content">
		<span style="font-size: 20px"><b><i>Mature Content?</i></b></span>
		<input type="radio" value="yes" name="mature"> Yes
		<input type="radio" value="no" name="mature"> No
	</div>
	
	<input id="submitbutton" type="submit" value="Submit">
	
	
	</div><!-- tabsbox ends -->
	

	
</div><!-- contentright ends -->

</div><!-- content ends -->
	
<div id="footer">

	<div class="footerlist">
		<p><a id="about" href="">About</a></p>
		<p><a id="faq" href="">FAQ</a></p>
		<p><a id="crew" href="">The Crew</a></p>
	</div>
	<div class="footerlist">
		<p><a id="tos" href="">Terms of Service</a></p>
		<p><a id="ppolicy" href="">Privacy Policy</a></p>
	</div>
    
	<div class="footerlist">
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/homepage/homepage.html">Home Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/profile.html">Profile Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/editprofile.html">Edit Profile Page</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/submit/submit.html">Submit</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/groups/groups_main.html">Group Main Page</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/groups/group_home.html">Group Home</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/writing/displaywriting.html">Display Writing</a></p>
	</div>

</div><!-- footer ends -->
	
</div><!-- wrapper ends -->

</body>
</html>
