body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#wrapper {
	background-color: #81d1c7;
	width: 1000px;
	height: auto;
	text-align: left;
	margin: 0 auto;
	box-shadow: 0 0 15px #213d42;
	-webkit-box-shadow: 0 0 15px #213d42;
	-moz-box-shadow: 0 0 15px #213d42;
}

#banner {
	float: left;
	width: 998px;
	height: 98px;
	background: white;
	border: 1px solid #333;
}
#black_bar {
	float: left;
	width: 100%;
	height: 20px;
	background: #000;
}
#left {
	background: inherit;
	position: relative;
	float: left;
	width: 50%;
}
#right {
	background: inherit;
	position: relative;
	float: right;
	width: 50%;
}
#browse_file {
	background-image: url('helm_button.png');
	background-repeat: no-repeat;
	background-size: 90%;
	height: 200px;
	margin: 20px;
}
#helm_text {
	color: white;
	font-size: 24px;
	position: absolute;
	top: 125px;
	left: 255px;
	text-shadow: 1px 1px 1px #000;
	letter-spacing: 1px;
}
#preview_image {
	position: relative;
	float: left;
	width: 100%;
}
#image {
	width: 400px;
	height: 400px;
	background: white;
	border: 1px solid #000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
#preview_image {
	line-height: 400px;
	text-align: center;
	font-weight: bold;
}
#mature_content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14px;
}

#form {
	width: 400px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}
#submit {
	position: relative;
	height: 85px;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
}
#submit_button {
	color: white;
	font-size: 24px;
	position: absolute;
	top: 21px;
	left: 73px;
	text-shadow: 1px 1px 1px #000;
	letter-spacing: 1px;
	cursor: hand;
}