{% extends "base.html" %}
{% block body_id %}<body id="congrats">{% endblock %}
{% block body %}

<div id="banner">

<img src="../static/images/congratsbanner.jpg" />

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div id="firsttasks">

<div id="taskmsg">
<h1>Welcome Aboard the ScribbleHack ship!</h1>
<h2>Congrats, you've joined the crew! Now get ready to embark on your new creative adventures. A few things to help get you started:</h2>
<ul>
<li><a href="#">Update your Profile page</a></li>
<li><a href="#">Browse Art or Writing</a></li>
<li><a href="#">Upload your work</a></li>
<li><a href="#">Enter the ScribbleHack Universe</a></li>
</ul>
<div id="shteam">
<h2>Happy Scribbling!</h2>
<p><em>The <a href="#">ScribbleHack Team</a></em></p>
</div><!-- shteam ends -->
</div><!-- taskmsg ends -->

<img id="narwalimg" src="../static/images/narwhal.png" />

</div><!-- firsttasks ends -->

</div><!-- content ends -->

{% endblock %}
