{% extends "base.html" %}
{% block body_id %}<body id="congrats">{% endblock %}
{% block body %}

<div id="banner">

<p>(Browse Page)</p>

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div id="firsttasks">

<div id="taskmsg">
    {% if user.is_authenticated %}
    <h1>Welcome back, {{ user.username }}</h1>
    {% else %}
    <h1>Welcome, new user. Please log in.</h1>
    {% endif %}

    <h2>This is the browse page, please update this page as you wish</h2>
    <ul>
        <li><a href="#">Update your Browse page</a></li>
        <li><a href="#">Update your Browse page</a></li>
        <li><a href="#">Update your Browse page</a></li>
        <li><a href="#">Update your Browse page</a></li>
    </ul>
<div id="shteam">
    <h2>Happy Scribbling!</h2>
        <p><em>The <a href="#">ScribbleHack Team</a></em></p>
</div><!-- shteam ends -->
</div><!-- taskmsg ends -->

</div><!-- firsttasks ends -->

</div><!-- content ends -->

{% endblock %}