{% extends "base.html" %}
{% block body_id %}<body id="home">{% endblock %}
{% block body %}

<div id="banner">
    <img id="octo" src="../static/images/octobanner.jpg" />
</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div class="topsection">
<div class="contentleft clearfix">

<div id="slider">
    <img src="../static/images/slider.jpg" />
</div><!-- slider ends -->

<div id="gallery">
    <img src="../static/images/gallery.jpg" />
</div><!-- gallery ends -->

</div><!-- contentleft ends -->

<div class="contentright clearfix">

<div id="bookshelf">
    <img src="../static/images/bookshelf.jpg" />
</div><!-- bookshelf ends -->

</div><!-- contentright ends -->
</div><!-- topsection ends -->

</div><!-- content ends -->

{% endblock %}