{% extends "base.html" %}

{% block title %}ScribbleHack{% endblock %}

{% block stylesheets %}
<link href="../../static/homepagecss.css" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block head_extra %}
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/jquery-ui.min.js"></script>
	<script src="../../static/js/jquery.fakecrop.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {
		$('.fakecropartsm').fakecrop({wrapperWidth: 80, wrapperHeight: 80});
		$('.fakecropartlg').fakecrop({wrapperWidth: 170, wrapperHeight: 170});
		$('.fakecropartnews').fakecrop({wrapperWidth: 120, wrapperHeight: 120});
    });
</script>
	
	<script src="../../static/js/jssor.slider.mini.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
		var _SlideshowTransitions = [
            //Fade
            { $Duration: 1400, $Opacity: 2 }
            ];
		
        var options = {
			$AutoPlay: true,
			$SlideDuration: 800,
			
			$SlideshowOptions: {                               
                    $Class: $JssorSlideshowRunner$,                
                    $Transitions: _SlideshowTransitions,           
                    $TransitionsOrder: 1,                           
                    $ShowLink: true                                    
                },
					
				$BulletNavigatorOptions: {                                
                    $Class: $JssorBulletNavigator$,                       
                    $ChanceToShow: 2,                               
                    $AutoCenter: 1,                                                                     
                    $Orientation: 1                                 
                },
									
			$ArrowNavigatorOptions: {                       
                    $Class: $JssorArrowNavigator$,              
                    $ChanceToShow: 2,                               
                    $AutoCenter: 2,                                
                    $Steps: 1                                    
                }
		};
        
		var jssor_slider1 = new $JssorSlider$('slider1_container', options);
		});
</script>
{% endblock head_extra %}

{% block body_id %}home{% endblock body_id %}

{% block banner %}
<img id="octo" src="../../static/images/octohomebanner.jpg" />
{% endblock banner %}

{% block content %} 
<div class="content clearfix">

<div class="topsection">
<div class="contentleft clearfix">

<!-- Jssor Slider Begin -->
    <!-- You can move inline styles to css file or css block. -->
    <div id="slider1_container" style="position: relative; width: 565px;
        height: 330px; top: 10px; overflow: hidden;">

        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 565px; height: 330px;
            overflow: hidden; border-radius: 10px;">
            <div>
               <img u=image src="../../static/images/yukoart4.jpg" />
            </div>
            <div>
               <img u=image src="../../static/images/kaeart1.jpg" />
            </div>
            <div>
               <img u=image src="../../static/images/yukoart2.jpg" />
            </div>
            <div>
               <img u=image src="../../static/images/pencils.jpg" />
            </div>
            <div>
               <img u=image src="../../static/images/yukoart3.jpg" />
            </div>
        </div>   
        <!-- Bullet Navigator Skin Begin -->
        <style>
            /* jssor slider bullet navigator skin 10 css */
            /*
            .jssorb10 div           (normal)
            .jssorb10 div:hover     (normal mouseover)
            .jssorb10 .av           (active)
            .jssorb10 .av:hover     (active mouseover)
            .jssorb10 .dn           (mousedown)
            */
            .jssorb10 div, .jssorb10 div:hover, .jssorb10 .av
            {
                background: url(../../static/images/b10.png) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb10 div { background-position: -10px -10px; }
            .jssorb10 div:hover, .jssorb10 .av:hover { background-position: -40px -10px; }
            .jssorb10 .av { background-position: -70px -10px; }
            .jssorb10 .dn, .jssorb10 .dn:hover { background-position: -100px -10px; }
        </style>
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb10" style="position: absolute; bottom: 16px;">
            <!-- bullet navigator item prototype -->
            <div u="prototype" style="POSITION: absolute; WIDTH: 20px; HEIGHT: 20px;"></div>
        </div>
        <!-- Bullet Navigator Skin End -->
        
        <!-- Arrow Navigator Skin Begin -->
        <style>
            /* jssor slider arrow navigator skin 14 css */
            /*
            .jssora14l              (normal)
            .jssora14r              (normal)
            .jssora14l:hover        (normal mouseover)
            .jssora14r:hover        (normal mouseover)
            .jssora14ldn            (mousedown)
            .jssora14rdn            (mousedown)
            */
            .jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn
            {
                position: absolute;
                cursor: pointer;
                display: block;
                background: url(../../static/images/a14.png) no-repeat;
                overflow:hidden;
            }
            .jssora14l { background-position: -15px -35px; }
            .jssora14r { background-position: -75px -35px; }
            .jssora14l:hover { background-position: -135px -35px; }
            .jssora14r:hover { background-position: -195px -35px; }
            .jssora14ldn { background-position: -255px -35px; }
            .jssora14rdn { background-position: -315px -35px; }
        </style>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora14l" style="width: 30px; height: 50px; top: 123px; left: 0px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora14r" style="width: 30px; height: 50px; top: 123px; right: 0px">
        </span>
        <!-- Arrow Navigator Skin End -->
    </div>

<!-- slider ends -->

<div id="hpgallery">
<h1>Popular in Art</h1>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/mermaid_1.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/luceroart1.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/bi.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/slider.jpg" /></a></div>
    <div class="large_tb_left"><a href="#"><img class="fakecropartlg" src="../../static/images/yukoart2.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart1.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/octobanner.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart3.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/narwhal.png" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart4.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart5.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/pencils.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/luceroart1.jpg" /></a></div>
    <div class="large_tb_right"><a href="#"><img class="fakecropartlg" src="../../static/images/kaeart1.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/narwhal.png" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/bi.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/octobanner.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/heart.png" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart3.jpg" /></a></div>
    <div class="tb_right"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart2.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/kaeart1.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart4.jpg" /></a></div>
    <div class="large_tb_right"><a href="#"><img class="fakecropartlg" src="../../static/images/yukoart5.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/pencils.jpg" /></a></div>
    <div class="tb_left"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart1.jpg" /></a></div>
    <div class="tb_rightb"><a href="#"><img class="fakecropartsm" src="../../static/images/yukoart4.jpg" /></a></div>
    <div class="tb_rightb"><a href="#"><img class="fakecropartsm" src="../../static/images/mermaid_1.jpg" /></a></div>

</div><!-- gallery ends -->

</div><!-- contentleft ends -->

<div class="contentright clearfix">

<div id="bookshelf">
<div id=bookcasetitle>Popular in Writing</div>
    <div class="shelf">
        <div class="book"><img src="../../static/images/covernovelsm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverpoetrysm.jpg" /></div>
        <div class="book"><img src="../../static/images/covershstorysm.jpg" /></div>
    </div>
    <div class="shelftitle"><a href="#" class="shelftitle">BEST COVER ART</a></div>
    <div class="shelf">
        <div class="book"><img src="../../static/images/coverart1sm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverart2sm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverart3sm.jpg" /></div>
    </div>
    <div class="shelftitle"><a href="#" class="shelftitle">BEST COVER ART</a></div>
    <div class="shelf">
        <div class="book"><img src="../../static/images/covernovelsm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverpoetrysm.jpg" /></div>
        <div class="book"><img src="../../static/images/covershstorysm.jpg" /></div>
    </div>
    <div class="shelftitle"><a href="#" class="shelftitle">POPULAR NOVELS</a></div>
    <div class="shelf">
        <div class="book"><img src="../../static/images/coverart1sm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverart2sm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverart3sm.jpg" /></div>
    </div>
    <div class="shelftitle"><a href="#" class="shelftitle">RECENTLY UPDATED</a></div>
    <div class="shelf">
        <div class="book"><img src="../../static/images/covernovelsm.jpg" /></div>
        <div class="book"><img src="../../static/images/coverpoetrysm.jpg" /></div>
        <div class="book"><img src="../../static/images/covershstorysm.jpg" /></div>
    </div>
    <div class="shelftitle"><a href="#" class="shelftitle">POPULAR POEMS & STORIES</a></div>
    <div id="bookcase_bg">
        <img src="../../static/images/anemone.png"/>
    </div>
</div><!-- bookshelf ends -->

</div><!-- contentright ends -->
</div><!-- topsection ends -->

<div id="bottomsection" class="clearfix">

<div id="hpnews">

<h1>News</h1>
<div class="newspreview">
<div class="newsprevblurb">
<h2>Title of News Article</h2>
<h3><em>Posted by Author on MM/DD/YY &nbsp; 12:34am</em></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper non elit sed sodales. Morbi dignissim, justo sit amet hendrerit fermentum. [<a href="#">Read More</a>]</p>
</div>
<div><img class="fakecropartnews" src="../../static/images/yukoart1.jpg" /></div>
</div>

<div class="newspreview">
<div class="newsprevblurb">
<h2>Title of News Article</h2>
<h3><em>Posted by Author on MM/DD/YY &nbsp; 12:34am</em></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper non elit sed sodales. Morbi dignissim, justo sit amet hendrerit fermentum. [<a href="#">Read More</a>]</p>
</div>
<div><img class="fakecropartnews" src="../../static/images/yukoart1.jpg" /></div>
</div>

<div class="newspreview">
<div class="newsprevblurb">
<h2>Title of News Article</h2>
<h3><em>Posted by Author on MM/DD/YY &nbsp; 12:34am</em></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper non elit sed sodales. Morbi dignissim, justo sit amet hendrerit fermentum. [<a href="#">Read More</a>]</p>
</div>
<div><img class="fakecropartnews" src="../../static/images/yukoart1.jpg" /></div>
</div>

</div>

<div id="hppolls">
<h1>Polls</h1>
<div id="daypoll">
<div class="speech-bubble">
  <div class="arrow bottom right"></div>
  What is your favorite form of marine transportation?
</div>
<div id="hppollform">
<form action="">
    <input type="radio" class="pollchoice" name="interest" value="taxi">Whale Taxi<br>
    <input type="radio" class="pollchoice" name="interest" value="horse">Seahorse<br>
    <input type="radio" class="pollchoice" name="interest" value="bus">Catfish Bus<br>
    <input type="radio" class="pollchoice" name="interest" value="train">Torpedo Train<br>
    <input type="radio" class="pollchoice" name="interest" value="scuba">Scuba Tuba<br>
    </form>
<input type="submit" class="button" value="Submit!" />
</div>
<div id="pollcreature"><img src="../../static/images/narwhal.png" /></div>
</div>
<div id="moredaypolls">
<div class="pollquest"><a href="#">What do you think of walruses who...</a></div>
<div class="pollquest"><a href="#">Can dolphins and sharks be best friends?</a></div>
<div class="pollquest"><a href="#">If you were invited to King Neptune's...</a></div>
<div class="pollquest"><a href="#">Other Polls...</a></div>
</div>
</div>



</div><!-- bottomsection ends -->

</div><!-- content ends -->
{% endblock content %}

