<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ScribbleHack</title>
    
    <link href="../../static/groups.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../static/js/jquery-ui-1.10.4.custom.min.css" />


</head>

<body id="group_home">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>

</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">

        <form id="tfnewsearch" method="get" action="#">
		       <input type="submit" class="tfbutton" src="../../static/images/searchicon.png" img />
		       <input type="text" value=" Search for stories, art or users" class="tftextinput" name="q" size="25"                    maxlength="120" onfocus="inputFocus(this)" onblur="inputBlur(this)">
		</form>


</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

<a href="profile.html">Username</a>
<!-- Insert Gear Settings icon --> 

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->





<div id="banner">


</div><!-- banner ends -->

</div><!-- header ends -->




<div id="content" class="clearfix">

<div id="contentleft" class="clearfix">
    
    <h1>GROUP NAME</h1>
    
    <br>
    
    <div id="groupnav">
        <a href="">Newsfeed</a>
        <a href="">Group Discussions</a>
        <a href="">Members</a>
        <a href="">Photos</a>
        <a href="">Documents</a>
    </div>
    
    <br>
 
    <h2>Announcements</h2>
    
    <div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>This is where the President and other admins can make important announcements about the group. Pretty self-explanatory.</p>
			</div>
		</div>
	</div>
    
    <div id="reply_report">
        <a href="">Reply</a>
        <a href="">Report</a>
    </div>
    
    <h2>Newsfeed</h2>
    
    <img id="profileimg" src="#" width: "50" height: "50"/>
    
    <form action="figure this out" enctype="multipart/form-data" method="post">
        <input type="text" name="newsfeed" placeholder="Post something to the group!" style="width:380px; height:20px;"><input class="special_button" type="submit" value="Post">
        <input type="file" name="browsefile" size="40">Post photo
        <input type="file" name="browsefile" size="40">Upload document
        
    </form>
    
    
    
    
    <div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>And this is where you can view what others members post to the Newsfeed.</p>
			</div>
		</div>
	</div>
    
    <div id="reply_report">
        <a href="">Reply</a>
        <a href="">Report</a>
    </div>
    
    <div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>And this is where you can view what others members post to the Newsfeed.</p>
			</div>
		</div>
	</div>
    
    <div id="reply_report">
        <a href="">Reply</a>
        <a href="">Report</a>
    </div>
    
    <div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>And this is where you can view what others members post to the Newsfeed.</p>
			</div>
		</div>
	</div>
    
    <div id="reply_report">
        <a href="">Reply</a>
        <a href="">Report</a>
    </div>
    
    <div class="commentboxes">
		<div class="bubble clearfix">
			<img src="#" width: "50" height: "50"/>
			<div class="comment-content">
				<div class="point"></div>
				<p>And this is where you can view what others members post to the Newsfeed.</p>
			</div>
		</div>
	</div>
    
    <div id="reply_report">
        <a href="">Reply</a>
        <a href="">Report</a>
    </div>
    
    <br>

<div id="searchgroups">
	<a class="searchgroups" href="link"> Previous</a>
	<a class="searchgroups" href="link"> 1</a>
	<a class="searchgroups" href="link"> 2</a>
	<a class="searchgroups" href="link"> 3</a>
	<a class="searchgroups" href="link"> 4</a>
	<a class="searchgroups" href="link"> 5</a>
	<a class="searchgroups" href="link"> Next</a>
</div>
    
</div>
    
    
    
<div id="contentright" class="clearfix"> 
    
    <img id="flag" src=""/>
    
    <p id="joingroup">Insert a join group icon image thingy here.</p>
    
    <div id="button">
        <a class="special_button" href="">Join our community!</a>
    </div>
    
    <div id="group_description">
    
   <h2>Group Description</h2>
    
    <p>This is a group description. Only the President of the group can edit this description and anyone he or she nominates as admin. Each group can have up to 3 admins, at least for now. Uhhh not sure what else to write but I feel like I need to take up space so this example actually looks legitimate. Well, might as well talk about my day.I spent all day coding for this website while watching Criminal Minds. Yup, that was pretty much my whole day. My head hurts from too much computer time and TV. I'm in the mood for some coconut ice cream. What about you?</p>
    
    </div>

</div>
    
</div>
    
<div id="footer">

	<div class="footerlist">
		<p><a id="about" href="">About</a></p>
		<p><a id="faq" href="">FAQ</a></p>
		<p><a id="crew" href="">The Crew</a></p>
	</div>
	<div class="footerlist">
		<p><a id="tos" href="">Terms of Service</a></p>
		<p><a id="ppolicy" href="">Privacy Policy</a></p>
	</div>
	<div class="footerlist">
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/homepage/homepage.html">Home Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/profile.html">Profile Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/editprofile.html">Edit Profile Page</a></p>
	</div>

</div><!-- footer ends -->


</div><!-- wrapper ends -->
    
</body>
</html>