<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ScribbleHack</title>
    
    <link href="../../static/groups.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../static/js/jquery-ui-1.10.4.custom.min.css" />


</head>

<body id="groups_main">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>

</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">

        <form id="tfnewsearch" method="get" action="#">
		       <input type="submit" class="tfbutton" src="../../static/images/searchicon.png" img />
		       <input type="text" value=" Search for stories, art or users" class="tftextinput" name="q" size="25"                    maxlength="120" onfocus="inputFocus(this)" onblur="inputBlur(this)">
		</form>


</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

<a href="profile.html">Username</a>
<!-- Insert Gear Settings icon --> 

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->





<div id="banner">


</div><!-- banner ends -->

</div><!-- header ends -->




<div id="content" class="clearfix">

<div id="contentleft" class="clearfix">
    
    <h1>Groups</h1>
    
    <div class="speechpoint"></div>
    <p id="bubble">Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests. You can make friends with people who like to create the same things as you or use a group to collaborate on a project. Host contests, games, and virtual events... Like I said, the possibilities are endless. By the way, the group picture is shaped like a rectangle because I think it's supposed to be like a flag or banner or something.</p>
    
    <div id="button">
        <a class="special_button" href="">Create a Group</a>
    </div>
    
    <form>
        <input type="text" id="searchbox" placeholder="Search Groups...">
        <input type="image"src="../../static/images/mglass.png" width="30" height="30" id="searchbutton">
    </form>
    
    <div class="groupshome">
        <img src="" width="200px" height="100"/>
    
    
        <h2>SH Groups</h2>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests. You can make friends with people who like to create the same things as you or use a group to collaborate on a project. Host contests, games, and virtual events... Like I said, the possibilities are endless. By the way, the group picture is shaped like a rectangle because I think it's supposed to be like a flag or banner or something.</p>
        <p><a href="group_members_page">2045 members</a></p>
    </div>
    
    <div class="groupshome">
        <img src="" width="200px" height="100"/>
    
    
        <h2>SH Groups</h2>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests. You can make friends with people who like to create the same things as you or use a group to collaborate on a project. Host contests, games, and virtual events... Like I said, the possibilities are endless. By the way, the group picture is shaped like a rectangle because I think it's supposed to be like a flag or banner or something.</p>
        <p><a href="group_members_page">2045 members</a></p>
    </div>
    
    <div class="groupshome">
        <img src="" width="200px" height="100"/>
    
    
        <h2>SH Groups</h2>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests. You can make friends with people who like to create the same things as you or use a group to collaborate on a project. Host contests, games, and virtual events... Like I said, the possibilities are endless. By the way, the group picture is shaped like a rectangle because I think it's supposed to be like a flag or banner or something.</p>
        <p><a href="group_members_page">2045 members</a></p>
    </div>
    
    <div class="groupshome">
        <img src="" width="200px" height="100"/>
    
    
        <h2>SH Groups</h2>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests. You can make friends with people who like to create the same things as you or use a group to collaborate on a project. Host contests, games, and virtual events... Like I said, the possibilities are endless. By the way, the group picture is shaped like a rectangle because I think it's supposed to be like a flag or banner or something.</p>
        <p><a href="group_members_page">2045 members</a></p>
    </div>

<div id="searchgroups">
	<a class="searchgroups" href="link"> Previous</a>
	<a class="searchgroups" href="link"> 1</a>
	<a class="searchgroups" href="link"> 2</a>
	<a class="searchgroups" href="link"> 3</a>
	<a class="searchgroups" href="link"> 4</a>
	<a class="searchgroups" href="link"> 5</a>
	<a class="searchgroups" href="link"> Next</a>
</div>
    
</div>
    
    
    
<div id="contentright" class="clearfix">  
    
    <h1>My Groups</h1>
    
    <div class="groupsright">
    
    <img src="" width="140" height="70"/>
    
    <h2>SH Groups</h2>
        <p><a href="group_members_page">2045 members</a></p>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests... <a href="">See more...</a></p>
       </div> 
    
        <div class="groupsright">
    
    <img src="" width="140" height="70"/>
    
    <h2>SH Groups</h2>
        <p><a href="group_members_page">2045 members</a></p>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests... <a href="">See more...</a></p>
       </div>
    
        <div class="groupsright">
    
    <img src="" width="140" height="70"/>
    
    <h2>SH Groups</h2>
        <p><a href="group_members_page">2045 members</a></p>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests... <a href="">See more...</a></p>
       </div>
    
    <h1>Recommended for You</h1>
    
        <div class="groupsright">
    
    <img src="" width="140" height="70"/>
    
    <h2>SH Groups</h2>
        <p><a href="group_members_page">2045 members</a></p>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests... <a href="">See more...</a></p>
       </div>
    
        <div class="groupsright">
    
    <img src="" width="140" height="70"/>
    
    <h2>SH Groups</h2>
        <p><a href="group_members_page">2045 members</a></p>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests... <a href="">See more...</a></p>
       </div>
    
        <div class="groupsright">
    
    <img src="" width="140" height="70"/>
    
    <h2>SH Groups</h2>
        <p><a href="group_members_page">2045 members</a></p>
        <p>Welcome to ScribbleHack Groups! What exactly can you do with a group? Well, the possibilites are endless! You can form your own little critique circle or connect with others of similar interests... <a href="">See more...</a></p>
       </div>

</div>
    
</div>
    
<div id="footer">

	<div class="footerlist">
		<p><a id="about" href="">About</a></p>
		<p><a id="faq" href="">FAQ</a></p>
		<p><a id="crew" href="">The Crew</a></p>
	</div>
	<div class="footerlist">
		<p><a id="tos" href="">Terms of Service</a></p>
		<p><a id="ppolicy" href="">Privacy Policy</a></p>
	</div>
	<div class="footerlist">
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/homepage/homepage.html">Home Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/profile.html">Profile Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/editprofile.html">Edit Profile Page</a></p>
	</div>

</div><!-- footer ends -->


</div><!-- wrapper ends -->
    
</body>
</html>