<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>ScribbleHack</title>
    
    <link href="../../static/groups.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../static/js/jquery-ui-1.10.4.custom.min.css" />


</head>

<body id="join_group">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/browse/browse_art.html">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Forums</a>

</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">

        <form id="tfnewsearch" method="get" action="#">
		       <input type="submit" class="tfbutton" src="../../static/images/searchicon.png" img />
		       <input type="text" value=" Search for stories, art or users" class="tftextinput" name="q" size="25"                    maxlength="120" onfocus="inputFocus(this)" onblur="inputBlur(this)">
		</form>


</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

<a href="profile.html">Username</a>
<!-- Insert Gear Settings icon --> 

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->





<div id="banner">


</div><!-- banner ends -->

</div><!-- header ends -->




<div id="content" class="clearfix">

<h1 id="admissions">Office of Admissions</h1>
    
<div id="groupform">
    
    <h1>NAME OF GROUP</h1>

    <p>Let us know why you'd like to join:</p>

    <form>
    <textarea rows="8" cols="100"></textarea>

    <input id="submitbutton" type="submit" value="Request to Join">

    </form>
    
</div>
    
    
      
    
</div><!-- content ends -->
    
    
    
<div id="footer">

	<div class="footerlist">
		<p><a id="about" href="">About</a></p>
		<p><a id="faq" href="">FAQ</a></p>
		<p><a id="crew" href="">The Crew</a></p>
	</div>
	<div class="footerlist">
		<p><a id="tos" href="">Terms of Service</a></p>
		<p><a id="ppolicy" href="">Privacy Policy</a></p>
	</div>
    
	<div class="footerlist">
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/homepage/homepage.html">Home Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/profile.html">Profile Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/editprofile.html">Edit Profile Page</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/submit/submit.html">Submit</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/groups/groups_main.html">Group Main Page</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/groups/group_home.html">Group Home</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/writing/displaywriting.html">Display Writing</a></p>
	</div>

</div><!-- footer ends -->


</div><!-- wrapper ends -->
    
</body>
</html>