<h2>Request a critique with Laurelin</h2>
			<form action="" method="get">
			<p>Choose up to 3 works that you would like to have critiqued:</p>
				<select name="user works">
					<option value="work1">The Tales of Masochists</option>
					<option value="work2">Deep-Fried</option>
					<option value="work3">Existentialism</option>
				</select><br>
				<select name="user works">
					<option value="work1">The Tales of Masochists</option>
					<option value="work2">Deep-Fried</option>
					<option value="work3">Existentialism</option>
				</select><br>
				<select name="user works">
					<option value="work1">The Tales of Masochists</option>
					<option value="work2">Deep-Fried</option>
					<option value="work3">Existentialism</option>
				</select>
			<p>Propose a time limit to complete the critique:</p>
				<select name="timelimit">
					<option value="oneday">1 day</option>
					<option value="3days">3 days</option>
					<option value="1wk">1 week</option>
					<option value="2wks">2 weeks</option>
					<option value="3wks">4 weeks</option>
				</select>
			<br><input id="submitbutton" type="submit" value="Request Critique">
			</form>
		</div>