<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ScribbleHack</title>
<link href="../../static/browsepage.css" rel="stylesheet" type="text/css">
<style type="text/css"></style></head>

<script>
    
  $(function() {
    $( "#age" ).selectmenu();
 
    $( "#type" ).selectmenu();
	
	$( "#most" ).selectmenu();
 
    $( "#genre" ) .selectmenu() ;
      .selectmenu( "menuWidget" )
        .addClass( "overflow" );
  });
    
  
  </script>
    


<body id="browse">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../static/../../static/images/logo.png">
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/browse/browse_art.html">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Projects</a>
</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">

<form id="tfnewsearch" method="get" action="#">
		       <input type="submit" class="tfbutton" src="../staic/../../static/images/searchicon.png" img="">
		       <input type="text" value=" Search for stories, art or users" class="tftextinput" name="q" size="25" maxlength="120" onfocus="inputFocus(this)" onblur="inputBlur(this)">
		</form>


</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->

<div id="banner">

</div><!-- banner ends -->

</div><!-- header ends -->


<div id="content">
    
<div id="contentleft" class="clearfix">


<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover1.jpg" width="80" height="100"></a>
<h2>The Brothers Karamazov</h2>
<a ref="link">F_Dostoyevsky6</a>
    
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
        <p>Genre: Philosophical fiction, Suspense</p>
        <p>The Brothers Karamazov is a passionate philosophical novel set in 19th century Russia, that enters deeply into the ethical debates of God, free will, and morality. It is a spiritual drama of moral struggles concerning faith, doubt, and reason, set against a modernizing Russia. Since its publication, it has been acclaimed as one of the supreme achievements in literature.</p>
        <p>Views: 1,652,342</p>
        <p>Likes: 1,652,287</p>
        <p>Favorites: 1,423,209</p>
        </div>
    </div><!-- hoverbox ends -->
    

</div>
    

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover2.jpg" width="80" height="100"></a>
<h2>The Once and Future King</h2>
<a ref="link">TH_White</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Fantasy, Speculative fiction</p>
            <p>The Once and Future King is an Arthurian fantasy novel. The central theme is an exploration of human nature regarding power and justice, as the boy Arthur becomes king and attempts to quell the prevalent "might makes right" attitude with his idea of chivalry. But in the end, even chivalry comes undone since its justice is maintained by force.</p>
            <p>Views: 1,452,201</p>
            <p>Likes: 1,146,908</p>
            <p>Favorites: 1,098,112</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover3.jpg" width="80" height="100"></a>
<h2>1984</h2>
<a ref="link">G.Orwell</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Science fiction, dystopian fiction</p>
            <p>1984 is a dystopian novel  set in Airstrip One (formerly known as Great Britain), in a world of perpetual war, omnipresent government surveillance, and public manipulation, dictated by a political system under the control of a privileged Inner Party elite that persecutes all individualism and independent thinking as "thoughtcrimes". The protagonist of the novel, Winston Smith, secretly hates the Party and dreams of rebellion against Big Brother.</p>
            <p>Views: 2,685,665</p>
            <p>Likes: 2,683,345</p>
            <p>Favorites: 2,567,309</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover4.jpg" width="80" height="100"></a>
<h2>The Alchemist</h2>
<a ref="link">P_Coelho437</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Speculative fiction, Spiritual fiction, Adventure</p>
            <p>The Alchemist is an allegorical novel that follows a young Andalusian shepherd named Santiago in his journey to Egypt, after having a recurring dream of finding treasure there.</p>
            <p>Views: 2,889,465</p>
            <p>Likes: 2,867,569</p>
            <p>Favorites: 2,830,212</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover5.jpg" width="80" height="100"></a>
<h2>Watchmen</h2>
<a ref="link">Moore548</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Superhero, Speculative fiction, Science fiction</p>
            <p>Watchmen reflects contemporary anxieties and critiques the superhero concept. It depicts an alternate history where superheroes emerged in the 1940s and 1960s, helping the United States to win the Vietnam War. The country is edging towards a nuclear war with the Soviet Union, freelance costumed vigilantes have been outlawed and most former superheroes are in retirement or working for the government. The story focuses on the personal development and struggles of the protagonists as an investigation into the murder of a government sponsored superhero pulls them out of retirement.</p>
            <p>Views: 1,173,857</p>
            <p>Likes: 1,009,784</p>
            <p>Favorites: 1,001,734</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover4.jpg" width="80" height="100"></a>
<h2>The Alchemist</h2>
<a ref="link">P_Coelho437</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Speculative fiction, Spiritual fiction, Adventure</p>
            <p>The Alchemist is an allegorical novel that follows a young Andalusian shepherd named Santiago in his journey to Egypt, after having a recurring dream of finding treasure there.</p>
            <p>Views: 2,889,465</p>
            <p>Likes: 2,867,569</p>
            <p>Favorites: 2,830,212</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover1.jpg" width="80" height="100"></a>
<h2>The Brothers Karamazov</h2>
<a ref="link">F_Dostoyevsky6</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
        <p>Genre: Philosophical fiction, Suspense</p>
        <p>The Brothers Karamazov is a passionate philosophical novel set in 19th century Russia, that enters deeply into the ethical debates of God, free will, and morality. It is a spiritual drama of moral struggles concerning faith, doubt, and reason, set against a modernizing Russia. Since its publication, it has been acclaimed as one of the supreme achievements in literature.</p>
        <p>Views: 1,652,342</p>
        <p>Likes: 1,652,287</p>
        <p>Favorites: 1,423,209</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover3.jpg" width="80" height="100"></a>
<h2>1984</h2>
<a ref="link">G.Orwell</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Science fiction, dystopian fiction</p>
            <p>1984 is a dystopian novel  set in Airstrip One (formerly known as Great Britain), in a world of perpetual war, omnipresent government surveillance, and public manipulation, dictated by a political system under the control of a privileged Inner Party elite that persecutes all individualism and independent thinking as "thoughtcrimes". The protagonist of the novel, Winston Smith, secretly hates the Party and dreams of rebellion against Big Brother.</p>
            <p>Views: 2,685,665</p>
            <p>Likes: 2,683,345</p>
            <p>Favorites: 2,567,309</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover1.jpg" width="80" height="100"></a>
<h2>The Brothers Karamazov</h2>
<a ref="link">F_Dostoyevsky6</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
        <p>Genre: Philosophical fiction, Suspense</p>
        <p>The Brothers Karamazov is a passionate philosophical novel set in 19th century Russia, that enters deeply into the ethical debates of God, free will, and morality. It is a spiritual drama of moral struggles concerning faith, doubt, and reason, set against a modernizing Russia. Since its publication, it has been acclaimed as one of the supreme achievements in literature.</p>
        <p>Views: 1,652,342</p>
        <p>Likes: 1,652,287</p>
        <p>Favorites: 1,423,209</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover2.jpg" width="80" height="100"></a>
<h2>The Once and Future King</h2>
<a ref="link">TH_White</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Fantasy, Speculative fiction</p>
            <p>The Once and Future King is an Arthurian fantasy novel. The central theme is an exploration of human nature regarding power and justice, as the boy Arthur becomes king and attempts to quell the prevalent "might makes right" attitude with his idea of chivalry. But in the end, even chivalry comes undone since its justice is maintained by force.</p>
            <p>Views: 1,452,201</p>
            <p>Likes: 1,146,908</p>
            <p>Favorites: 1,098,112</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover3.jpg" width="80" height="100"></a>
<h2>The Once and Future King</h2>
<a ref="link">TH_White</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Fantasy, Speculative fiction</p>
            <p>The Once and Future King is an Arthurian fantasy novel. The central theme is an exploration of human nature regarding power and justice, as the boy Arthur becomes king and attempts to quell the prevalent "might makes right" attitude with his idea of chivalry. But in the end, even chivalry comes undone since its justice is maintained by force.</p>
            <p>Views: 1,452,201</p>
            <p>Likes: 1,146,908</p>
            <p>Favorites: 1,098,112</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover5.jpg" width="80" height="100"></a>
<h2>Watchmen</h2>
<a ref="link">Moore548</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Superhero, Speculative fiction, Science fiction</p>
            <p>Watchmen reflects contemporary anxieties and critiques the superhero concept. It depicts an alternate history where superheroes emerged in the 1940s and 1960s, helping the United States to win the Vietnam War. The country is edging towards a nuclear war with the Soviet Union, freelance costumed vigilantes have been outlawed and most former superheroes are in retirement or working for the government. The story focuses on the personal development and struggles of the protagonists as an investigation into the murder of a government sponsored superhero pulls them out of retirement.</p>
            <p>Views: 1,173,857</p>
            <p>Likes: 1,009,784</p>
            <p>Favorites: 1,001,734</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover4.jpg" width="80" height="100"></a>
<h2>The Alchemist</h2>
<a ref="link">P_Coelho437</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Speculative fiction, Spiritual fiction, Adventure</p>
            <p>The Alchemist is an allegorical novel that follows a young Andalusian shepherd named Santiago in his journey to Egypt, after having a recurring dream of finding treasure there.</p>
            <p>Views: 2,889,465</p>
            <p>Likes: 2,867,569</p>
            <p>Favorites: 2,830,212</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover1.jpg" width="80" height="100"></a>
<h2>The Brothers Karamazov</h2>
<a ref="link">F_Dostoyevsky6</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
        <p>Genre: Philosophical fiction, Suspense</p>
        <p>The Brothers Karamazov is a passionate philosophical novel set in 19th century Russia, that enters deeply into the ethical debates of God, free will, and morality. It is a spiritual drama of moral struggles concerning faith, doubt, and reason, set against a modernizing Russia. Since its publication, it has been acclaimed as one of the supreme achievements in literature.</p>
        <p>Views: 1,652,342</p>
        <p>Likes: 1,652,287</p>
        <p>Favorites: 1,423,209</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover4.jpg" width="80" height="100"></a>
<h2>The Alchemist</h2>
<a ref="link">P_Coelho437</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Speculative fiction, Spiritual fiction, Adventure</p>
            <p>The Alchemist is an allegorical novel that follows a young Andalusian shepherd named Santiago in his journey to Egypt, after having a recurring dream of finding treasure there.</p>
            <p>Views: 2,889,465</p>
            <p>Likes: 2,867,569</p>
            <p>Favorites: 2,830,212</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover3.jpg" width="80" height="100"></a>
<h2>1984</h2>
<a ref="link">G.Orwell</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Science fiction, dystopian fiction</p>
            <p>1984 is a dystopian novel  set in Airstrip One (formerly known as Great Britain), in a world of perpetual war, omnipresent government surveillance, and public manipulation, dictated by a political system under the control of a privileged Inner Party elite that persecutes all individualism and independent thinking as "thoughtcrimes". The protagonist of the novel, Winston Smith, secretly hates the Party and dreams of rebellion against Big Brother.</p>
            <p>Views: 2,685,665</p>
            <p>Likes: 2,683,345</p>
            <p>Favorites: 2,567,309</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover5.jpg" width="80" height="100"></a>
<h2>Watchmen</h2>
<a ref="link">Moore548</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Superhero, Speculative fiction, Science fiction</p>
            <p>Watchmen reflects contemporary anxieties and critiques the superhero concept. It depicts an alternate history where superheroes emerged in the 1940s and 1960s, helping the United States to win the Vietnam War. The country is edging towards a nuclear war with the Soviet Union, freelance costumed vigilantes have been outlawed and most former superheroes are in retirement or working for the government. The story focuses on the personal development and struggles of the protagonists as an investigation into the murder of a government sponsored superhero pulls them out of retirement.</p>
            <p>Views: 1,173,857</p>
            <p>Likes: 1,009,784</p>
            <p>Favorites: 1,001,734</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover3.jpg" width="80" height="100"></a>
<h2>1984</h2>
<a ref="link">G.Orwell</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Science fiction, dystopian fiction</p>
            <p>1984 is a dystopian novel  set in Airstrip One (formerly known as Great Britain), in a world of perpetual war, omnipresent government surveillance, and public manipulation, dictated by a political system under the control of a privileged Inner Party elite that persecutes all individualism and independent thinking as "thoughtcrimes". The protagonist of the novel, Winston Smith, secretly hates the Party and dreams of rebellion against Big Brother.</p>
            <p>Views: 2,685,665</p>
            <p>Likes: 2,683,345</p>
            <p>Favorites: 2,567,309</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover2.jpg" width="80" height="100"></a>
<h2>The Once and Future King</h2>
<a ref="link">TH_White</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Fantasy, Speculative fiction</p>
            <p>The Once and Future King is an Arthurian fantasy novel. The central theme is an exploration of human nature regarding power and justice, as the boy Arthur becomes king and attempts to quell the prevalent "might makes right" attitude with his idea of chivalry. But in the end, even chivalry comes undone since its justice is maintained by force.</p>
            <p>Views: 1,452,201</p>
            <p>Likes: 1,146,908</p>
            <p>Favorites: 1,098,112</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover1.jpg" width="80" height="100"></a>
<h2>The Brothers Karamazov</h2>
<a ref="link">F_Dostoyevsky6</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
        <p>Genre: Philosophical fiction, Suspense</p>
        <p>The Brothers Karamazov is a passionate philosophical novel set in 19th century Russia, that enters deeply into the ethical debates of God, free will, and morality. It is a spiritual drama of moral struggles concerning faith, doubt, and reason, set against a modernizing Russia. Since its publication, it has been acclaimed as one of the supreme achievements in literature.</p>
        <p>Views: 1,652,342</p>
        <p>Likes: 1,652,287</p>
        <p>Favorites: 1,423,209</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover5.jpg" width="80" height="100"></a>
<h2>Watchmen</h2>
<a ref="link">Moore548</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Superhero, Speculative fiction, Science fiction</p>
            <p>Watchmen reflects contemporary anxieties and critiques the superhero concept. It depicts an alternate history where superheroes emerged in the 1940s and 1960s, helping the United States to win the Vietnam War. The country is edging towards a nuclear war with the Soviet Union, freelance costumed vigilantes have been outlawed and most former superheroes are in retirement or working for the government. The story focuses on the personal development and struggles of the protagonists as an investigation into the murder of a government sponsored superhero pulls them out of retirement.</p>
            <p>Views: 1,173,857</p>
            <p>Likes: 1,009,784</p>
            <p>Favorites: 1,001,734</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>
    
<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover3.jpg" width="80" height="100"></a>
<h2>1984</h2>
<a ref="link">G.Orwell</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Science fiction, dystopian fiction</p>
            <p>1984 is a dystopian novel  set in Airstrip One (formerly known as Great Britain), in a world of perpetual war, omnipresent government surveillance, and public manipulation, dictated by a political system under the control of a privileged Inner Party elite that persecutes all individualism and independent thinking as "thoughtcrimes". The protagonist of the novel, Winston Smith, secretly hates the Party and dreams of rebellion against Big Brother.</p>
            <p>Views: 2,685,665</p>
            <p>Likes: 2,683,345</p>
            <p>Favorites: 2,567,309</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover2.jpg" width="80" height="100"></a>
<h2>The Once and Future King</h2>
<a ref="link">TH_White</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
            <p>Genre: Fantasy, Speculative fiction</p>
            <p>The Once and Future King is an Arthurian fantasy novel. The central theme is an exploration of human nature regarding power and justice, as the boy Arthur becomes king and attempts to quell the prevalent "might makes right" attitude with his idea of chivalry. But in the end, even chivalry comes undone since its justice is maintained by force.</p>
            <p>Views: 1,452,201</p>
            <p>Likes: 1,146,908</p>
            <p>Favorites: 1,098,112</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>

<div class="browse_cover">
<a href="link"><img src="../../static/images/bookcover1.jpg" width="80" height="100"></a>
<h2>The Brothers Karamazov</h2>
<a ref="link">F_Dostoyevsky6</a>
    
    <div class="hoverbox">
        <div class="point"></div>
        <div class="insidebox">
        <p>Genre: Philosophical fiction, Suspense</p>
        <p>The Brothers Karamazov is a passionate philosophical novel set in 19th century Russia, that enters deeply into the ethical debates of God, free will, and morality. It is a spiritual drama of moral struggles concerning faith, doubt, and reason, set against a modernizing Russia. Since its publication, it has been acclaimed as one of the supreme achievements in literature.</p>
        <p>Views: 1,652,342</p>
        <p>Likes: 1,652,287</p>
        <p>Favorites: 1,423,209</p>
        </div>
    </div><!-- hoverbox ends -->
    
</div>


<div id="browse_pagenumbers">
	<a href="link"><img class="arrowbutton" src="../../static/images/left_arrow.png"></a>
	<a href class="browse_numbers">1</a>
	<a href class="browse_numbers">2</a>
	<a href class="browse_numbers">3</a>
	<a href class="browse_numbers">4</a>
	<a href class="browse_numbers">5</a>
	<a href class="browse_numbers">6</a>
	<a href class="browse_numbers">...</a>
	<a href="link"><img class="arrowbutton" src="../../static/images/right_arrow.png"></a>
</div>

    
</div><!-- contentleft ends -->

    
    
    
<div id="contentright" class="clearfix">
    
    <h1>Sort</h1>

         <br>
     <div id="toggle">
        <a href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/browse/browse_writing.html">Writing</a>
         <br>
        <a href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/browse/browse_art.html">Art</a>
    </div>
   
 
    <form action="#">

      <select name="type">
            <option>Type</option>
            <option>Novel</option>
            <option>Short Story</option>
            <option>Poem</option>
            <option>Script</option>
            <option>Graphic Novel</option>
            <option>Nonfiction</option>
        </select>

      <select name="genre">
           <option>Genre</option>
           <option>General</option>
           <option>Action/Adventure</option>
           <option>Fantasy</option>
           <option>Sci-Fi</option>
           <option>Historical Fiction</option>
           <option>Slice of Life</option>
           <option>Paranormal</option>
           <option>Romance</option>
           <option>Comedy</option>
           <option>Mystery</option>
           <option>Thriller</option>
        </select>

        <select name="age">
          <option>Age</option>
          <option>5-12</option>
          <option>13-18</option>
          <option>19+</option>
        </select>

        <select name="most">
          <option>Most popular</option>
          <option>Most recent</option>
        </select>

    </form>

    <form>
        <input type="text" id="searchbox" placeholder="Search...">
        <input type="image"src="../../static/images/mglass.png" width="30" height="30" id="searchbutton">
    </form>


    <h1>Recommended for You</h1>
    
 <div id="recommendations">   
    <div class="browse_cover">
        <a href="link"><img src="../../static/images/bookcover3.jpg" width="60" height="80"></a>
        <h2>The Once and Future King</h2>
        <a ref="link">TH_White</a>
    </div>

    <div class="browse_cover">
        <a href="link"><img src="../../static/images/bookcover5.jpg" width="60" height="80"></a>
        <h2>Watchmen</h2>
        <a ref="link">Moore548</a>
    </div>

    <div class="browse_cover">
        <a href="link"><img src="../../static/images/bookcover4.jpg" width="60" height="80"></a>
        <h2>The Alchemist</h2>
        <a ref="link">P_Coelho437</a>
    </div>
      
    <div class="browse_cover">
        <a href="link"><img src="../../static/images/bookcover3.jpg" width="60" height="80"></a>
        <h2>The Once and Future King</h2>
        <a ref="link">TH_White</a>
    </div>

    <div class="browse_cover">
        <a href="link"><img src="../../static/images/bookcover5.jpg" width="60" height="80"></a>
        <h2>Watchmen</h2>
        <a ref="link">Moore548</a>
    </div>

    <div class="browse_cover">
        <a href="link"><img src="../../static/images/bookcover4.jpg" width="60" height="80"></a>
        <h2>The Alchemist</h2>
        <a ref="link">P_Coelho437</a>
    </div>
</div>
    
</div><!-- contentright ends -->
    
</div><!-- content ends -->
    
<div id="footer">

	<div class="footerlist">
		<p><a id="about" href="">About</a></p>
		<p><a id="faq" href="">FAQ</a></p>
		<p><a id="crew" href="">The Crew</a></p>
	</div>
	<div class="footerlist">
		<p><a id="tos" href="">Terms of Service</a></p>
		<p><a id="ppolicy" href="">Privacy Policy</a></p>
	</div>
    
	<div class="footerlist">
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/homepage/homepage.html">Home Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/profile.html">Profile Page</a></p>
		<p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/profile/editprofile.html">Edit Profile Page</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/submit/submit.html">Submit</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/groups/groups_main.html">Group Main Page</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/groups/group_home.html">Group Home</a></p>
        <p><a class="templinks" href="http://scribblehack.com/kaeyamane/newlayouts/blue/templates/writing/displaywriting.html">Display Writing</a></p>
	</div>

</div><!-- footer ends -->
    
</div><!-- wrapper ends -->




</body>
</html>