body {
	background-color: #ede3c2;
	padding: 0;
	margin: 0;
	font-family: UniversLTStd,arial,sans-serif;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstd.otf);
	font-weight: normal;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstdlight.otf);
	font-weight: lighter;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstdbold.otf);
	font-weight: bold;
}

#wrapper {
	background-color: #f4f1d1;
	width: 1000px;
	height: auto;
	text-align: left;
	margin: 0 auto;
	box-shadow: 0 0 15px #A8A8A8;
	-webkit-box-shadow: 0 0 15px #A8A8A8;
	-moz-box-shadow: 0 0 15px #A8A8A8;
}

a:link {color:#007777;}
a:visited {color:#24555f;}
a:hover {color:#00A58C;}
a:active {color:#00A58C;}

#header {
	height: 260px;
}

#sitenav {
	height: 50px;
	background-color: #213d42;
}

#sitenavleft {
	width: 545px;
	height: 50px;
	float: left;
}

#logo {
	float: left;
	width: 127px;
	margin: 10px 38px 0 10px;
	position: relative;
}

#logo img {
	margin-right: 0;
	float: right;
}

#icon {
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 20px;
	background-color: gainsboro;
	position: absolute;
	left: 0;
	top: 3px;
}

#sitenavpagelinks {
	float: left;
	margin-top: 19px;
}

.navlink {
	float: left;
	margin-right: 31px;
}

.navlink a {
	font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.navlink a:hover {
    color: #71cfbd;
}

#sitenavright {
	width: 445px;
	height: 50px;
	float: right;
}

#sitenavright a {
	font-weight: lighter;
	font-family: 'Century Gothic',arial,sans-serif;
	font-size: 12px;
	color: white;
	float: right;
	margin-right: 12px;
	margin-top: 19px;
	text-decoration: none;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#sitenavright a:hover {
	color: #71cfbd;
}

#navsearchbox {
	margin-top: 11px;
	margin-right: 7px;
	float: right;
}

#navsearchbox #tfnewsearch{
		float:right;
		padding:0px;
		margin-top: 2px;
	}

#navsearchbox .tftextinput{
		margin: 0;
		padding: 0 3px 0 3px;
		font-family: UniversLTStd;
		src: url(universltstd.otf); 
		font-size:12px;
		color:#2f2f2f;
		border-style: none;
		border-radius: 3px;
		height: 25px;
		width: 194px
	}

#navsearchbox #tfnewsearch .tfbutton{
		background-image: url(../static/images/searchicon.png);
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-left: 2px;
		color: transparent;
		background-color: transparent;
		height: 30px;
		width: 30px;
		float:right;
		border-width: 0px;
}

	/* Fixes submit button height problem in Firefox */
#navsearchbox .tfbutton::-moz-focus-inner {
	  border: 0;
	}

#navsearchbox	.tfclear{
		clear:both;
	}

#banner {
	height: 150px;
	border: solid 0 #007000;
	border-bottom: 1px solid #2f2f2f;
}

footer {
	position: absolute;
	height: 200px;
	background-color: #2f2f2f;
}

#quicklinks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#quicklinks li {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
	background: gainsboro;
	padding: 8px 10px;
	outline: 1px dashed grey;
    outline-offset: -4px;
}

#quicklinks a {
	display: block;
	width: auto;
	text-align: center;
	text-decoration: none;
		font-family: UniversLTStd;
	src: url(universltstd.otf);  
	font-size: 18px;
	color: grey;
	font-weight: bold;
}

#quicklinks a:hover {
	color: #2f2f2f;
}
	
	
/* CSS SPECIFICALLY FOR EDIT-PROFILE */

#ppupload {
	padding-top: 50px;
	margin-left: 25px;
	height: 60px;
	width:60px;
	-webkit-appearance:none; 
	}
	
.uploadbutton input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

#tabs {
	background-color: #ede3c2;
	border: none;
	margin: none;
	padding: none;
	background: none;
	}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5{
	background-color: #f4f1d1;
	height: 1500px;
	width: 955px;
	}

.tabsbox {
	background-color: #f4f1d1;
	height: 1450px;
	width: 950px;
	}

.tabsbox h1 {
	color: black;
	text-align: left;
	margin-bottom: 0px;
	padding: 30px 30px 0px 30px;
	}

.tabsbox p {
	color: black;
	text-align: left;
	margin-bottom: 5px;
	padding: 0px 30px 15px 30px;
	}
	
.tabsbox #statustag {
	padding: 0px 30px 0px 30px;
	text-indent: 10px;
	margin-top: 5px;
	}

#tabs h1 {
	font-size: 20px;
	}
	
#tabs-1 a {
	text-align: center;
	margin-right: 100px;
	padding: 15px 0px 30px 115px;
	color: black;
	float: left;
	}

#tabs-2 p {
	margin: 10px 10px;
	}

#tabs-5 p {
	margin: 0px 0px;
	}
	
#tabs-5 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	background-color: #f4f1d1;
	column-width:250px;
	-moz-column-width:250px; /* Firefox */
	-webkit-column-width:250px; /* Safari and Chrome */
	column-span:all;
	-webkit-column-span:all; /* Safari and Chrome */
}

.statusboxstats {
	text-indent: 20px;
	text-align: center;
	margin-top: 0px;
	padding: 0px 0px 30px 150px;
	float: left;
	}

#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: none; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-panel { 
    background: #ede3c2; 
    border-width: 0px 1px 1px 1px; 
}	

#tabs .ui-tabs-anchor {
	background-color: #ede3c2;
	}
	
#tabs .ui-tabs-loading {
	background-color: #f4f1d1;
	}
	
form p {
	font-size: 20px;
	font-weight: bold;
	font-family:UniversLTStd;
	margin: 0px 10px 0px 10px;
	}

#submitbutton {
	margin-left: 50px;
	}