body {
	background: linear-gradient(#099bb6, #002231);
	padding: 0;
	margin: 0;
	font-family: UniversLTStd,arial,sans-serif;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstd.otf);
	font-weight: normal;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstdlight.otf);
	font-weight: lighter;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstdbold.otf);
	font-weight: bold;
}


h1 {
	margin: 0 0 12px 0;
	padding: 0;
	font-size: 35px;
	font-family: cantoraone,arial,sans-serif;
	font-weight: normal;
}

h2 {
	text-align: left;
	background-color: #f0fbfb;
	padding: 5px;
	font-weight: normal;
	font-size: 24px;
	font-family: cantoraone,arial,sans-serif;
	}

h3 {
	font-size: 14px;
	font-weight: normal;
	font-family: sheep-sans,arial,sans-serif;
	}

p {
	font-size: 15px;
	font-weight: normal;
	font-family: sheep-sans,arial,sans-serif;
	}

#wrapper {
	background-color: #81d1c7;
	width: 1000px;
	height: auto;
	text-align: left;
	margin: 0 auto;
	box-shadow: 0 0 15px #213d42;
	-webkit-box-shadow: 0 0 15px #213d42;
	-moz-box-shadow: 0 0 15px #213d42;
}

a:link {color:#d46900;}
a:visited {color:#099bb6;}
a:hover {color:#efa168;}
a:active {color:#00A58C;}

a {
	text-decoration: none;
	}
	
.button {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px 5px 8px;
	color: #213d42;
	float: left;
	background-color: #efcf98;
	text-decoration: none;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 5px #213d42;
    -moz-box-shadow: inset 0px 0px 5px #213d42;
    box-shadow: inset 0px 0px 5px #213d42;
	height: 18px;
	}
	
#header {
	height: 200px;
	margin-bottom: 20px;
}

#sitenav {
	height: 50px;
	background-color: #213d42;
}

#sitenavleft {
	width: 545px;
	height: 50px;
	float: left;
}

#logo {
	float: left;
	width: 127px;
	margin: 10px 38px 0 10px;
	position: relative;
}

#logo img {
	margin-right: 0;
	float: right;
}

#icon {
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 20px;
	background-color: gainsboro;
	position: absolute;
	left: 0;
	top: 3px;
}

#sitenavpagelinks {
	float: left;
	margin-top: 19px;
}

.navlink {
	float: left;
	margin-right: 31px;
}

.navlink a {
	font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.navlink a:hover {
    color: #71cfbd;
}

#sitenavright {
	width: 445px;
	height: 50px;
	float: right;
}

#sitenavright a {
	font-weight: lighter;
	font-family: 'Century Gothic',arial,sans-serif;
	font-size: 12px;
	color: white;
	float: right;
	margin-right: 12px;
	margin-top: 19px;
	text-decoration: none;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#sitenavright a:hover {
	color: #71cfbd;
}

#navsearchbox {
	margin-top: 11px;
	margin-right: 7px;
	float: right;
}

#navsearchbox #tfnewsearch{
		float:right;
		padding:0px;
		margin-top: 2px;
	}

#navsearchbox .tftextinput{
		margin: 0;
		padding: 0 3px 0 3px;
		font-family: UniversLTStd;
		src: url(universltstd.otf); 
		font-size:12px;
		color:#2f2f2f;
		border-style: none;
		border-radius: 3px;
		height: 25px;
		width: 194px
	}

#navsearchbox #tfnewsearch .tfbutton{
		background-image: url(../static/images/searchicon.png);
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-left: 2px;
		color: transparent;
		background-color: transparent;
		height: 30px;
		width: 30px;
		float:right;
		border-width: 0px;
}

	/* Fixes submit button height problem in Firefox */
#navsearchbox .tfbutton::-moz-focus-inner {
	  border: 0;
	}

#navsearchbox	.tfclear{
		clear:both;
	}

#banner {
	height: 150px;
	border: solid 0 #007000;
	border-bottom: 1px solid #2f2f2f;
}

#footer {
	height: 200px;
	width: 1000px;
	background-color: #213d42;
	font-size: 20px;
}

#footer p {
	font-size: 20px;
	}
	
.footerlist {
	float: left;
	margin-top: 10px;
	}
	
#about {
	margin-left: 100px;
	}

#faq {
	margin-left: 130px;
	margin-top: 10px;
	}
	
#crew {
	margin-left: 140px;
	margin-top: 10px;
	}
	
#tos {
	margin-left: 160px;
	}

#ppolicy {
	margin-left: 190px;
	margin-top: 10px;
	}


#quicklinks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#quicklinks li {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
	background: gainsboro;
	padding: 8px 10px;
	outline: 1px dashed grey;
    outline-offset: -4px;
}

#quicklinks a {
	display: block;
	width: auto;
	text-align: center;
	text-decoration: none;
	font-family: UniversLTStd;
	src: url(universltstd.otf);  
	font-size: 18px;
	color: grey;
	font-weight: bold;
}

#quicklinks a:hover {
	color: #2f2f2f;
}
	
	
	
/* CSS SPECIFICALLY FOR EDIT-PROFILE */

#ppupload {
	padding-top: 50px;
	margin-left: 25px;
	height: 60px;
	width:60px;
	-webkit-appearance:none; 
	}
	
.uploadbutton input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

#tabs {
	border: none;
	margin: none;
	padding: none;
	background: none;
	}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5{
	height: 1020px;
	width: 955px;
	border-radius: 10px;
	}

.tabsbox {
	background-color: #f0fbfb;
	height: 1000px;
	width: 950px;
	border-radius: 10px;
	}

.tabsbox h1 {
	color: black;
	text-align: left;
	margin-bottom: 0px;
	padding: 30px 30px 0px 30px;
	}

.tabsbox p {
	color: black;
	text-align: left;
	margin-bottom: 5px;
	padding: 0px 30px 15px 30px;
	}

#tabs h1 {
	padding: 15px 10px 15px 20px;
	}

#tabs-2 p {
	margin: 10px 10px;
	vertical-align: top;
	}

#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
} 

#tabs .ui-tabs-panel { 
    background: #ddf9f9; 
    border-width: 0px 1px 1px 1px; 
}	

#tabs .ui-tabs-anchor {
	background-color: #f0fbfb;
	font-size: 13px;
	font-weight: bold;
	}

#tabs  li  a {
    border-radius: 4px 4px 0 0;
}

#tabs  li  a:hover {
    border-color: #EEEEEE #EEEEEE #DDDDDD;
}
	
form p {
	font-size: 20px;
	margin: 0px 10px 0px 10px;
	}

#submitbutton {
	margin-left: 50px;
	}

input[type=text], textarea {
	background-color: white;
    height: 28px;
    padding-left:10px;
    width: 300px;
    box-shadow: 0px 0px 2px  #828181;
	border-radius:5px;
	margin-left: 10px;
	font-size: 16px;
	}

textarea {
	resize: none;
	height: 70px;
	padding-left: 10px;
	padding-top: 10px;
	}

::-webkit-input-placeholder {
   font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 16px; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px; 
}

:-ms-input-placeholder {  
   font-size: 16px;  
}

#aboutme {
	vertical-align: top;
	}

input[type=radio] {
	height: 1em;
	width: 1em;
	margin-left: 15px;
	vertical-align: top;
	}

input[type=submit]{
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px 5px 8px;
	color: #213d42;
	float: left;
	background-color: #efcf98;
	text-decoration: none;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 5px #213d42;
    -moz-box-shadow: inset 0px 0px 5px #213d42;
    box-shadow: inset 0px 0px 5px #213d42;
	}

#banner input[type=submit]{
	margin-left: 410px;
	}
	

	
	
.templinks {
	margin-left: 250px;
	margin-top: 5px;
	font-size: 14px;
	float: right;
	}