body {
	background: linear-gradient(#099bb6, #002231);
	padding: 0;
	margin: 0;
	font-family: UniversLTStd,arial,sans-serif;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstd.otf);
	font-weight: normal;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstdlight.otf);
	font-weight: lighter;
}

@font-face {
	font-family:UniversLTStd;
	src:url(universltstdbold.otf);
	font-weight: bold;
}


h1 {
	margin: 0 0 12px 0;
	padding: 0;
	font-size: 30px;
	font-family: cantoraone,arial,sans-serif;
	font-weight: normal;
}

h2 {
	text-align: left;
	background-color: #f0fbfb;
	padding: 5px;
	font-weight: normal;
	font-size: 20px;
	font-family: cantoraone,arial,sans-serif;
	}

h3 {
	font-size: 12px;
	font-weight: normal;
	font-family: sheep-sans,arial,sans-serif;
	}

p {
	font-size: 14px;
	font-weight: normal;
	font-family: sheep-sans,arial,sans-serif;
	}

#wrapper {
	background-color: #81d1c7;
	width: 1000px;
	height: auto;
	text-align: left;
	margin: 0 auto;
	box-shadow: 0 0 15px #213d42;
	-webkit-box-shadow: 0 0 15px #213d42;
	-moz-box-shadow: 0 0 15px #213d42;
}

a:link {color:#ff5800;}
a:visited {color:#099bb6;}
a:hover {color:#ff9d00;}
a:active {color:#00A58C;}

a {
	text-decoration: none;
	}

.button {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px 5px 8px;
	color: black;
	float: left;
	background-color: #ff9f75;
	text-decoration: none;
	border-radius: 7px;
	height: 18px;
    -webkit-box-shadow: 5px 5px 5px #213d42;
    -moz-box-shadow:  5px 5px 5px #213d42;
    box-shadow: 5px 5px 5px #213d42;
	}

.button:hover {
    margin-top: 2px;
}
	
#header {
	height: 200px;
	margin-bottom: 20px;
}

#sitenav {
	height: 50px;
	background-color: #213d42;
}

#sitenavleft {
	width: 545px;
	height: 50px;
	float: left;
}

#logo {
	float: left;
	width: 127px;
	margin: 10px 38px 0 10px;
	position: relative;
}

#logo img {
	margin-right: 0;
	float: right;
}

#icon {
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 20px;
	background-color: gainsboro;
	position: absolute;
	left: 0;
	top: 3px;
}

#sitenavpagelinks {
	float: left;
	margin-top: 19px;
}

.navlink {
	float: left;
	margin-right: 31px;
}

.navlink a {
	font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.navlink a:hover {
    color: #71cfbd;
}

#sitenavright {
	width: 445px;
	height: 50px;
	float: right;
}

#sitenavright a {
	font-weight: lighter;
	font-family: 'Century Gothic',arial,sans-serif;
	font-size: 12px;
	color: white;
	float: right;
	margin-right: 12px;
	margin-top: 19px;
	text-decoration: none;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#sitenavright a:hover {
	color: #71cfbd;
}

#navsearchbox {
	margin-top: 11px;
	margin-right: 7px;
	float: right;
}

#navsearchbox #tfnewsearch{
		float:right;
		padding:0px;
		margin-top: 2px;
	}

#navsearchbox .tftextinput{
		margin: 0;
		padding: 0 3px 0 3px;
		font-family: UniversLTStd;
		src: url(universltstd.otf); 
		font-size:12px;
		color:#2f2f2f;
		border-style: none;
		border-radius: 3px;
		height: 25px;
		width: 194px
	}

#navsearchbox #tfnewsearch .tfbutton{
		background-image: url(../static/images/searchicon.png);
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-left: 2px;
		color: transparent;
		background-color: transparent;
		height: 30px;
		width: 30px;
		float:right;
		border-width: 0px;
}

	/* Fixes submit button height problem in Firefox */
#navsearchbox .tfbutton::-moz-focus-inner {
	  border: 0;
	}

#navsearchbox	.tfclear{
		clear:both;
	}

#banner {
	height: 150px;
	border: solid 0 #007000;
	border-bottom: 1px solid #2f2f2f;
}

#footer {
	height: 200px;
	width: 1000px;
	background-color: #213d42;
	font-size: 20px;
}

#footer p {
	font-size: 20px;
	}
	
.footerlist {
	float: left;
	margin-top: 30px;
	}
	
#about {
	margin-left: 100px;
	}

#faq {
	margin-left: 130px;
	margin-top: 10px;
	}
	
#crew {
	margin-left: 140px;
	margin-top: 10px;
	}
	
#tos {
	margin-left: 160px;
	}

#ppolicy {
	margin-left: 190px;
	margin-top: 10px;
	}


#quicklinks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#quicklinks li {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
	background: gainsboro;
	padding: 8px 10px;
	outline: 1px dashed grey;
    outline-offset: -4px;
}

#quicklinks a {
	display: block;
	width: auto;
	text-align: center;
	text-decoration: none;
	font-family: UniversLTStd;
	src: url(universltstd.otf);  
	font-size: 18px;
	color: grey;
	font-weight: bold;
}

#quicklinks a:hover {
	color: #2f2f2f;
}
	
/* For help navigating this CSS, all the stuff at the top comes first (banner, and everything in it), then it goes from left to right. So basically, the tabs box, PORTFOLIO, COMMENTS, FAVORITES, BADGES, FRIENDS & FOLLOWERS, COLLABORATERS. */


/* Specifically, Profile Page CSS */

#profile #banner {
	background-image: url(../../static/images/404banner.jpg);
	position: relative;
	margin: 0;
	padding: 0;
}

#profile #profbannerleft {
	width: 430px;
	height: 130px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(255,255,255,.7);
	border-radius: 10px;
}

#profilepic{
	width: 120px;
	height: 120px;
	position: absolute;
	float: left;
	margin-right: 50px;
	left: 10px;
	top: 2px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border:3px solid #ffffff;
	}

#profile #profbigusername {
	font-size: 45px;
	margin: 0px 0px 5px 0px;
	font-family: cantoraone,arial,sans-serif;
	position: relative;
	left: 150px;
}

#profile #proffirstlastname {
	font-size: 18px;
	margin: 0px;
	position: relative;
	left: 160px;
}

#profile #profselftitle {
	font-size: 15px;
	position: relative;
	left: 160px;
}

#profile #profbannerright {
	width: 400px;
	height: 175px;
	float: right;
	position: absolute;
	top: 18px;
	right: 25px;
}

#profile #profonlinestatus {
	font-size: 13px;
	float: right;
	font-style: italic;
	position: absolute;
	right: 10px;
}

#profile #profstatistics {
	width: 285px;
	float: right;
	height: 50px;
	position: absolute;
	background-color: #213d42;
	top: 40px;
	right: 0px;
	border-radius: 10px;
}

#profile #profstatistics ul {
	list-style: none;
	margin: none;
	padding: none;
	display: inline;
	padding: 10px 5px 10px 5px;
}

#profile #profstatistics .profstat {
	display: inline;
	color: #abdfdb;
	float: right;
	margin-left: 22px;
	margin-right: 23px;
}

#profile #profstatistics li {
	text-align: center;
	font-size: 10px;
	margin: none;
	padding: none;
}

#profile #profstatistics li span {
	font-size: 21px;
}
	
#profile #content {
	height: 1850px;
	margin: 0;
	padding: 0;
	position: relative;
}

#profile #contentleft {
	margin: 0 0 0 25px;
	padding: 0;
	width: 570px;
	height: 1576px;
	position: absolute;
	top: 1px;
	left: 0;
}


	
/* TABS SECTION, LEFT */

#tabs {
	border: none;
	margin: none;
	padding: none;
	background: none;
	width: 570px;
	}

#tabs h2 {
	padding: 14px 15px 5px 30px;
	}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5{
	height: 380px;
	width: 570px;
	margin-right: 0px;
	background-color: #c8f2e9;
	border-radius: 10px;
	padding-top: 1px;
	}

.tabsbox {
	background-color: #f0fbfb;
	height: 350px;
	width: 530px;
	border-radius: 10px;
	padding-top: 0px;
	}

.tabsbox p {
	text-align: left;
	margin-bottom: 5px;
	padding: 0px 30px 15px 30px;
	}
	
#tabs-1 h2 {
	margin-bottom: 0px;
	}
	
#tabs-1 h3 {
	margin-top: 5px;
	padding-left: 30px;
	text-indent: 5px;
	font-style: italic;
	}

#journallinks {
	width: 400px;
	margin-top: 25px;
	}

#journallinks p {
	float: left;
	}
	
.statusboxstats {
	margin-left: 30px;
	}

#viewcomments {
	margin-left: 430px;
	}
	
.button {
	margin-right: 0px;
	margin-left: none;
	}

.statusboxstats  p {
	margin: 0px;
	padding: 10px 50px 0px 10px;
	float: left;
	line-height: 18px;
	}
	
.icon {
	margin-right: 5px;
	}

#tabs-1 textarea {
	margin-left: 30px;
	margin-bottom: 0px;
	resize:none;
	}

#tabs-1 input[type=text] {
	vertical-align: bottom;
	}

#tabs-1 input[type=submit] {
	margin-left: 30px;
	margin-top: 0px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px 5px 8px;
	color: #213d42;
	float: left;
	background-color: #efcf98;
	text-decoration: none;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 5px #213d42;
    -moz-box-shadow: inset 0px 0px 5px #213d42;
    box-shadow: inset 0px 0px 5px #213d42;
	}

#tabs1cancel {
	margin-left: 30px;
	float:left;
	}

#tabs-2 p {
	margin: 10px 10px;
	}

#tabs-3 h2 {
	background: none;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0px;
	}

#moregroups {
	text-align: center;
	font-weight: bold;
	padding-left: 220px;
	text-decoration: none;
	}
	
#tabs-3 p {
	margin-bottom: 0px;
	}

#tabs-3 h2 a {
	margin-bottom: 0px;
	text-decoration: none;
	background: none;
	}

#tabs-3 img {
	float: left;
	padding-left: 25px;
	margin-right: 10px;
	}
	
#tabs-5 p {
	margin: 0px 0px;
	}

table {
	margin-top: 10px;
	}

td {
	width: 260px;
	vertical-align: top;
	}

#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent;  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
	border: none;
} 
#tabs .ui-tabs-panel {  
    width: 530px;
}	

#tabs .ui-tabs-anchor {
	background-color: #f0fbfb;
	font-size: 13px;
	font-weight: bold;
	}
	
#tabs  li  a {
    border-radius: 4px 4px 0 0;
}

#tabs  li  a:hover {
    border-color: #EEEEEE #EEEEEE #DDDDDD;
}
	
/* PORTFOLIO SECTION */

#featuredworks {
	width: 570px;
	height: 650px;
	float: left;
	background-color: #c8f2e9;
	margin-top: 30px;
	border-radius: 10px;
}

#featuredworks h1 {
	width: 540px;
	text-align: left;
	padding: 15px 15px 0px 30px;
	height: 30px;
	}

#featuredworks h2 {
	background: none;
	margin-bottom: 0px;
	padding-left: 40px;
	}
	
figure {
	float: left;
	padding-left: 20px;
	margin: 8px 8px 20px 8px;
	width: 145px;
	}

#featuredworks img {
	margin-bottom: 0px;
	padding-bottom: 0px;
	}
	
figure h3 {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
	}

#viewport {
	margin-left: 200px;
	margin-top: 20px;
	}

	
	
	
/* COMMENTS SECTION, BOTTOM LEFT */
	
#profcomments {
	background-color: #c8f2e9;
	width: 570px;
	height: 700px;
	float: left;
	margin-top: 30px;
	border-radius: 10px;
}

#profcomments h1 {
	width: 540px;
	text-align: left;
	padding: 15px 15px 15px 30px;
	height: 30px;
	}
	
.commentboxes {
	padding-left: 10px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	}

#leavecomment {
	margin-left: 10px;
	margin-top: 10px;
	}

	
.commentboxes img, #leavecomment img {
    float:left;
    width:70px;
    height:70px;
    border:3px solid #ffffff;
    border-radius:50px
    }

.comment-content {
   position:relative;
   float:left;
   margin: 10px 0px 10px 12px;
   width:425px;
   padding:20px;
   border-radius:10px;
   background-color:#FFFFFF;
   box-shadow:1px 1px 5px rgba(0,0,0,.2);
   }
   
.replycomment {
	padding-left: 10px;
	margin: 50px 0px 50px 90px;
	padding-bottom: 50px;
	}
	
.replycomment img {
    float:left;
    width:70px;
    height:70px;
    border:3px solid #ffffff;
    border-radius:50px
    }	
	
.replycomment-content {
   position:relative;
   float:left;
   margin: 10px 0px 10px 12px;
   width:335px;
   padding:20px;
   border-radius:10px;
   background-color:#FFFFFF;
   box-shadow:1px 1px 5px rgba(0,0,0,.2);
   }
   
	 
.point {
   border-top:10px solid transparent;
   border-bottom:10px solid transparent;
   border-right: 12px solid #FFF;
   position:absolute;
   left:-10px;
   top:12px;
   }

.searchcomments {
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	}

#searchcomments {
	margin-left: 175px;
	margin-top: 50px;
	}

#lcomment {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 25px 20px 360px;
	padding: 5px 10px 5px 8px;
	color: #213d42;
	background-color: #efcf98;
	text-decoration: none;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 0px 5px #213d42;
    -moz-box-shadow: inset 0px 0px 5px #213d42;
    box-shadow: inset 0px 0px 5px #213d42;
	}

#profcomments textarea {
	position: relative;
	margin: 5px 10px 0px 30px;
	border-radius: 10px;
	resize: none;
	width:335px;
	padding:20px;
	background-color:#FFFFFF;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	}
	
	
	

/* INTERESTS/BADGES SECTION, RIGHT */

#contentright {
	float: right;
	margin: 0 25px 0 0;
	padding: 0;
	width: 370px;
	height: 1576px;
	position: absolute;
	top: 1px;
	right: 0;
}

#contentright h1 {
	position: relative;
	text-align: center;
	}

.proftopright {
	display: inline;
	float: right;
}

#interests {
	height: 830px;
	width: 260px;
	background-color: #c8f2e9;
	margin-right:10px;
	border-radius: 10px;
	padding: 5px;
}

#interests h1 {
	margin-top: 15px;
	padding: 0px 15px 0px 15px;
	}

#interests h2 {
	text-align: center;
	margin-bottom: 0px;
	}

#interests p {
	text-align: center;
	padding: 5px 10px 5px 10px;
	height: 25px;
	}
	
#badgeribbon {
	height: 830px;
	width: 80px;
	background-color: #c8f2e9;
	padding: 5px;
	border-radius: 10px;
}

#badgeribbon img {
	padding-left: 10px;
	}

#badgeribbon p{
	text-align: center;
	}
	
	
	

/* FRIENDS, FOLLOWERS, COLLABORATORS, BOTTOM RIGHT*/
	
#profbottomright {
	width: 360px;
	height: 200px;
	float: right;
	border-radius: 10px;
	}
	
#profbottomright h1 {
	margin-top: 7px;
	margin-left: 10px;
	text-align: left;
	padding: 15px 10px 15px 10px;
	width: 330px;
	height: 30px;
	}

.brboxes {
	height: 332px;
	background-color: #c8f2e9;
	border-radius: 10px;
	margin-top: 30px;
	}
	

.templinks {
	margin-left: 250px;
	margin-top: 5px;
	font-size: 14px;
	float: right;
	}


