<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScribbleHack</title>
<link href="../static/layoutcss.css" rel="stylesheet" type="text/css" />

</head>

<body id="error2">

<div id="wrapper">

<div id="header">

<div id="sitenav">


<div id="sitenavleft" class="clearfix">

<a href="homepage.html">
<div id="logo" class="clearfix">
<div id="icon">
</div><!-- icon ends -->
<img src="../static/images/logo.png" />
</div><!-- logo ends -->
</a>

<div id="sitenavpagelinks" class="clearfix">
<div class="navlink clearfix">
<a href="#">Browse</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Universe</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Groups</a>
</div><!-- navlink ends -->
<div class="navlink clearfix">
<a href="#">Projects</a>
</div><!-- navlink ends -->
</div><!-- sitenavpagelinks ends -->

</div><!-- sitenavleft ends -->

<div id="sitenavright" class="clearfix">

<div id="navsearchbox">
<img src="../static/images/navbarsearchbox.jpg" />
</div><!-- navsearchbox ends -->

<a href="login.html">Sign in</a>

</div><!-- sitenavright ends -->

</div><!-- sitenav ends -->

<div id="banner">
<img src="../static/images/404banner2.jpg" />

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<img src="../static/images/404bottom2.jpg" />

<p>Oops... looks like you got pulled into a deep sea chase!<br />
Don't let go, make sure your fish taxi has the right address,<br />
or maybe just let him take you to the <a href="#">universe</a>!</p>

</div><!-- content ends -->

<div id="footer">

</div><!-- footer ends -->


</div><!-- wrapper ends -->


</body>
</html>
