{% extends "base.html" %}
{% block body_id %}<body id="congrats">{% endblock %}
{% block body %}

<div id="banner">

<p>Account activation failed Page</p>

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div id="firsttasks">

<div id="taskmsg">

    <h1>Your account could not be activated...</h1>

  <div class="white-box">

      <p>Your account could not be activated. This could be because your activation link has aged.</p>
      <p>Please try signing up again or contact us if you think something went wrong.</p>

  </div>
 </div>
    </div>
    </div>
{% endblock %}
