{% extends "base.html" %}
{% block body_id %}<body id="congrats">{% endblock %}
{% block body %}

<div id="banner">

<p>Password changed Page</p>

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div id="firsttasks">

<div id="taskmsg">

    <h1>Password changed</h1>

  <div class="white-box">

      <p>From now on you can use your new password to signin</p>
      {% if user.username == profile.user.username %}
      <p>Click <a href="{% url 'userena_profile_detail' user.username %}">here</a> to return to your profile page
      {% endif %}


  </div>
 </div>
    </div>
    </div>
{% endblock %}
