{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ScribbleHack</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}layoutcss.css">
</head>

<body id="forgotpwd">

<div id="forgotblock">

<div id="logobig" >
<a href="{% url "homepage_index" %}"><img src="../static/images/logobig.png" /></a>
</div><!-- logobg ends -->

<h1>Password reset email sent</h1>

<div id="forgotbox" class="clearfix">

<h2>An e-mail has been sent to you which explains how to reset your password.</h2>


</div><!-- forgotbox ends -->

</div><!-- forgotblock ends -->

</body>
</html>