{% extends "base.html" %}
{% block body_id %}<body id="congrats">{% endblock %}
{% block body %}

<div id="banner">

<p>(Logout Page)</p>

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div id="firsttasks">

<div id="taskmsg">
<h1>You've successfully logged out</h1>
<h2>Click here to go back to the homepage</h2>
<ul>

<li><a href="#">Enter the ScribbleHack Universe</a></li>
</ul>
<div id="shteam">
<h2>Happy Scribbling!</h2>
<p><em>The <a href="#">ScribbleHack Team</a></em></p>
</div><!-- shteam ends -->
</div><!-- taskmsg ends -->

</div><!-- firsttasks ends -->

</div><!-- content ends -->

{% endblock %}