{% extends "base.html" %}
{% block body_id %}<body id="emailverify">{% endblock %}
{% block body %}

<div id="banner">

<img src="../static/images/mermaid_1.jpg" />
<img src="../static/images/mermaid_2.jpg" />
<img src="../static/images/mermaid_3.jpg" />

</div><!-- banner ends -->

</div><!-- header ends -->

<div class="content clearfix">

<div id="emailmessage">

<img src="../static/images/bottle_and_message.jpg" />

<div id="papermessage">
<h1>Verify Email</h1>

<p>A message in a bottle will arrive shortly on the shores of your email inbox.</p>

<p>Open the bottle and click the link in the message to verify.</p>

<p>We will store your signup information for {{ userena_activation_days }} days on our server.</p>


</div><!-- papermessage ends -->

</div><!-- emailmessage ends -->

</div><!-- content ends -->

{% endblock %}